USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_dba_scriptjobs] AS

SELECT j.name, createjobsql = '
DECLARE @job_id BINARY(16)
EXEC msdb.dbo.sp_add_job ' + CONCAT_WS(CHAR(10) + CHAR(9) + ', '
		, '@job_name = ''' + j.name + ''''
		, '@enabled = ' + CAST(j.enabled AS NVARCHAR(10))
		, '@description = ''' + j.description + ''''
		, '@start_step_id = ' + CAST(j.start_step_id AS NVARCHAR(10))
		, '@category_name = ''' + c.name + ''''
		, '@category_id = ' + CAST(j.category_id AS NVARCHAR(10))
		, '@notify_level_eventlog = ' + CAST(j.notify_level_eventlog AS NVARCHAR(10))
		, '@notify_level_email = ' + CAST(j.notify_level_email AS NVARCHAR(10))
		, '@notify_level_netsend = ' + CAST(j.notify_level_netsend AS NVARCHAR(10))
		, '@notify_level_page = ' + CAST(j.notify_level_page AS NVARCHAR(10))
		, '@notify_email_operator_name = ''' + o1.name + ''''
		, '@notify_netsend_operator_name = ''' + o2.name + ''''
		, '@notify_page_operator_name = ''' + o3.name + ''''
		, '@delete_level = ' + CAST(j.delete_level AS NVARCHAR(10))
		, '@job_id = @job_id OUTPUT;'
	) + CHAR(10) + job_steps
FROM msdb.dbo.sysjobs j
JOIN msdb.dbo.syscategories c
	ON c.category_id = j.category_id
LEFT JOIN msdb.dbo.sysoperators o1
	ON o1.id = j.notify_email_operator_id
LEFT JOIN msdb.dbo.sysoperators o2
	ON o2.id = j.notify_netsend_operator_id
LEFT JOIN msdb.dbo.sysoperators o3
	ON o3.id = j.notify_page_operator_id
OUTER APPLY (
	SELECT job_steps = STRING_AGG(CAST('EXEC msdb.dbo.sp_add_jobstep ' + CONCAT_WS(CHAR(10) + CHAR(9) + ', '
			, '@job_id = @job_id'
			, '@step_id = ' + CAST(js.step_id AS NVARCHAR(10))
			, '@step_name = ''' + js.step_name + ''''
			, '@subsystem = ''' + js.subsystem + ''''
			, '@command = ''' + REPLACE(js.command, '''', '''''') + ''''
			, '@additional_parameters = ''' + js.additional_parameters + ''''
			, '@cmdexec_success_code = ' + CAST(js.cmdexec_success_code AS NVARCHAR(10))
			, '@on_success_action = ' + CAST(js.on_success_action AS NVARCHAR(10))
			, '@on_success_step_id = ' + CAST(js.on_success_step_id AS NVARCHAR(10))
			, '@on_fail_action = ' + CAST(js.on_fail_action AS NVARCHAR(10))
			, '@on_fail_step_id = ' + CAST(js.on_fail_step_id AS NVARCHAR(10))
			, '@server = ''' + js.server + ''''
			, '@database_name = ''' + js.database_name + ''''
			, '@database_user_name = ''' + js.database_user_name + ''''
			, '@retry_attempts = ' + CAST(js.retry_attempts AS NVARCHAR(10))
			, '@retry_interval = ' + CAST(js.retry_interval AS NVARCHAR(10))
			, '@os_run_priority = ' + CAST(js.os_run_priority AS NVARCHAR(10))
			, '@output_file_name = ''' + js.output_file_name + ''''
			, '@flags = ' + CAST(js.flags AS NVARCHAR(10))
			, '@proxy_id = ' + CAST(js.proxy_id AS NVARCHAR(10))
			, '@proxy_name = ''' + p.name + ''''
		) AS NVARCHAR(MAX)), CHAR(10))
	FROM msdb.dbo.sysjobsteps js
	LEFT JOIN msdb.dbo.sysproxies p
		ON p.proxy_id = js.proxy_id
	WHERE js.job_id = j.job_id
) js


GO
