USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_dba_tablecrudscripts] AS

SELECT "Table" = qualified_table_name
	, "Column Name List" = STRING_AGG(column_name, CHAR(13) + CHAR(10) + CHAR(9) + ', ')
	, "Current Row Count" = rows
	, "Select" = '/* Select all columns (named) from table */
SELECT ' + STRING_AGG(
			column_name
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		) + CHAR(13) + CHAR(10) + 'FROM ' + qualified_table_name
	, "Declare Variables" = '/* Declare variables for all columns of table */
DECLARE ' + STRING_AGG(
			var_type
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		)
	, "Select Into Variables" = '/* Select values of one record in table into variables */
SELECT ' + STRING_AGG(
			var_into
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		) + CHAR(13) + CHAR(10) + 'FROM ' + qualified_table_name
	, "Update Using Variables" = '/* Update table record using local variables */
UPDATE ' + qualified_table_name + ' SET 
	' + STRING_AGG(
			var_set
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		)
	, "Select Variables" = '/* Select out all variables declared for table record */
SELECT ' + STRING_AGG(
			var_base
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		)
	, "Create Temp Table" = '/* Create temp table mirroring table */
CREATE TABLE #' + table_name + ' (' +
		CHAR(13) + CHAR(10) + CHAR(9) + STRING_AGG(
			col_type
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		) + '
)'
	, "Create Table" = '/* Approximate create table script for table */
CREATE TABLE ' + qualified_table_name + ' (' +
		CHAR(13) + CHAR(10) + CHAR(9) + STRING_AGG(
			col_type_extra
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		) + '
)'
	, "Select Quoted" = '/* Select all columns (named) from table (Quoted) */
SELECT ' + STRING_AGG(
			column_name_quoted
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		) + CHAR(13) + CHAR(10) + 'FROM ' + qualified_table_name
	, "Select Into Variables Quoted" = '/* Select values of one record in table into variables (Quoted) */
SELECT ' + STRING_AGG(
			var_into_quoted
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		) + CHAR(13) + CHAR(10) + 'FROM ' + qualified_table_name
	, "Update Using Variables Quoted" = '/* Update table record using local variables (Quoted) */
	UPDATE ' + qualified_table_name + ' SET 
' + STRING_AGG(
			var_set_quoted
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		)
	, "Create Temp Table Quoted" = '/* Create temp table mirroring table (Quoted) */
CREATE TABLE #' + table_name + ' (' +
		CHAR(13) + CHAR(10) + CHAR(9) + STRING_AGG(
			col_type_quoted
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		) + '
)'
	, "Create Table Quoted" = '/* Approximate create table script for table (Quoted) */
CREATE TABLE ' + qualified_table_name + ' (' +
		CHAR(13) + CHAR(10) + CHAR(9) + STRING_AGG(
			col_type_extra_quoted
			, CHAR(13) + CHAR(10) + CHAR(9) + ', '
		) + '
)'
FROM sys.tables t 
JOIN sys.schemas s 
	ON t.schema_id = s.schema_id
JOIN (
	SELECT object_id
		, SUM(rows) rows
	FROM sys.partitions
	GROUP BY object_id
) p 
	ON t.object_id = p.object_id
CROSS APPLY (
	SELECT column_name = LEFT(name, 1) + SUBSTRING(name, 2, 128)
		, data_type = UPPER(system_type_name) 
		, table_name = t.name COLLATE DATABASE_DEFAULT  
		, column_id = column_ordinal 
		, is_nullable
		, is_identity = is_identity_column 
		, qualified_table_name = s.name + '.' + t.name COLLATE DATABASE_DEFAULT 
		, schema_name = s.name 
	FROM sys.dm_exec_describe_first_result_set('SELECT * FROM ' + QUOTENAME(s.name) + '.' + QUOTENAME(t.name), NULL, 1)	
	WHERE is_hidden = 0
) C_base
CROSS APPLY (
	SELECT QUOTENAME(C_base.column_name) column_name_quoted
		, QUOTENAME(C_base.table_name) table_name_quoted
		, QUOTENAME(schema_name) + '.' + QUOTENAME(table_name) qualified_table_name_quoted
		, '@' + C_base.column_name + ' ' + data_type var_type 
		, '@' + C_base.column_name var_base
		, '@' + C_base.column_name + ' = ' + C_base.column_name var_into
		, '@' + C_base.column_name + ' = ' + QUOTENAME(C_base.column_name) var_into_quoted
		, C_base.column_name + ' ' + data_type col_type 
		, QUOTENAME(C_base.column_name) + ' ' + data_type col_type_quoted
		, C_base.column_name + ' ' + data_type + IIF(is_identity = 1, ' IDENTITY(1, 1)', '') + IIF(is_nullable = 1, ' NOT NULL', '') col_type_extra 
		, QUOTENAME(C_base.column_name) + ' ' + data_type + IIF(is_nullable = 1, ' NOT NULL', '') col_type_extra_quoted
		, C_base.column_name + ' = ' + '@' + C_base.column_name var_set
		, QUOTENAME(C_base.column_name) + ' = ' + '@' + C_base.column_name var_set_quoted
		, CHAR(13) + CHAR(10) nl
		, CHAR(9) tab
		, CHAR(13) + CHAR(10) + CHAR(9) nl_tab
		, 'SELECT * FROM ' + QUOTENAME(s.name) + '.' + QUOTENAME(t.name) slt
) C_additional
GROUP BY qualified_table_name
	, table_name
	, rows
GO
