USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_dba_brokenprocedures]
AS

	SELECT 
		ProcSchema = st.schema_name
		, ProcName = st.name
		, IsBroken = IIF(MAX(IIF(error_number IN (11526,11514,11520,11528), NULL, error_number)) IS NOT NULL, 1, 0)
		, ErrorMsgs = STRING_AGG(error_message, ';')
		, ErrorNos = STRING_AGG(error_number, ';')
	FROM (
		SELECT p.name
			, schema_name = SCHEMA_NAME(p.schema_id)
			, sql_text = 'EXEC ' + QUOTENAME(s.name) + '.' + QUOTENAME(p.name) + ' ' + ISNULL(STRING_AGG(CAST(a.name + ' = NULL' AS NVARCHAR(MAX)), CHAR(13) + CHAR(10) + CHAR(9) + ', '), '') + ''
		FROM sys.procedures p
		JOIN sys.objects o ON o.object_id = p.object_id
		JOIN sys.schemas s ON o.schema_id = s.schema_id
		LEFT JOIN sys.parameters a ON a.object_id = p.object_id
		WHERE o.is_ms_shipped = 0
		GROUP BY p.schema_id
			, p.name
			, s.name
	) st
	CROSS APPLY sys.dm_exec_describe_first_result_set(sql_text, NULL, 1)
	GROUP BY st.name
		, st.schema_name
	HAVING 1 = IIF(MAX(IIF(error_number IN (11526,11514,11520,11528), NULL, error_number)) IS NOT NULL, 1, 0)

GO
