USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       VIEW [dbo].[vw_dba_objectdefinitions] AS

	WITH _jobs AS (
		SELECT j.job_id
				, j.name
				, createjobsql = '
		DECLARE @job_id BINARY(16)
		EXEC msdb.dbo.sp_add_job ' + CONCAT_WS(CHAR(10) + CHAR(9) + ', '
				, '@job_name = ''' + j.name + ''''
				, '@enabled = ' + CAST(j.enabled AS NVARCHAR(10))
				, '@description = ''' + j.description + ''''
				, '@start_step_id = ' + CAST(j.start_step_id AS NVARCHAR(10))
				, '@category_name = ''' + c.name + ''''
				, '@category_id = ' + CAST(j.category_id AS NVARCHAR(10))
				, '@notify_level_eventlog = ' + CAST(j.notify_level_eventlog AS NVARCHAR(10))
				, '@notify_level_email = ' + CAST(j.notify_level_email AS NVARCHAR(10))
				, '@notify_level_netsend = ' + CAST(j.notify_level_netsend AS NVARCHAR(10))
				, '@notify_level_page = ' + CAST(j.notify_level_page AS NVARCHAR(10))
				, '@notify_email_operator_name = ''' + o1.name + ''''
				, '@notify_netsend_operator_name = ''' + o2.name + ''''
				, '@notify_page_operator_name = ''' + o3.name + ''''
				, '@delete_level = ' + CAST(j.delete_level AS NVARCHAR(10))
				, '@job_id = @job_id OUTPUT;'
			) + CHAR(10) + job_steps
		FROM msdb.dbo.sysjobs j
		JOIN msdb.dbo.syscategories c
			ON c.category_id = j.category_id
		LEFT JOIN msdb.dbo.sysoperators o1
			ON o1.id = j.notify_email_operator_id
		LEFT JOIN msdb.dbo.sysoperators o2
			ON o2.id = j.notify_netsend_operator_id
		LEFT JOIN msdb.dbo.sysoperators o3
			ON o3.id = j.notify_page_operator_id
		OUTER APPLY (
			SELECT job_steps = STRING_AGG(CAST('EXEC msdb.dbo.sp_add_jobstep ' + CONCAT_WS(CHAR(10) + CHAR(9) + ', '
					, '@job_id = @job_id'
					, '@step_id = ' + CAST(js.step_id AS NVARCHAR(10))
					, '@step_name = ''' + js.step_name + ''''
					, '@subsystem = ''' + js.subsystem + ''''
					, '@command = ''' + REPLACE(js.command, '''', '''''') + ''''
					, '@additional_parameters = ''' + js.additional_parameters + ''''
					, '@cmdexec_success_code = ' + CAST(js.cmdexec_success_code AS NVARCHAR(10))
					, '@on_success_action = ' + CAST(js.on_success_action AS NVARCHAR(10))
					, '@on_success_step_id = ' + CAST(js.on_success_step_id AS NVARCHAR(10))
					, '@on_fail_action = ' + CAST(js.on_fail_action AS NVARCHAR(10))
					, '@on_fail_step_id = ' + CAST(js.on_fail_step_id AS NVARCHAR(10))
					, '@server = ''' + js.server + ''''
					, '@database_name = ''' + js.database_name + ''''
					, '@database_user_name = ''' + js.database_user_name + ''''
					, '@retry_attempts = ' + CAST(js.retry_attempts AS NVARCHAR(10))
					, '@retry_interval = ' + CAST(js.retry_interval AS NVARCHAR(10))
					, '@os_run_priority = ' + CAST(js.os_run_priority AS NVARCHAR(10))
					, '@output_file_name = ''' + js.output_file_name + ''''
					, '@flags = ' + CAST(js.flags AS NVARCHAR(10))
					, '@proxy_id = ' + CAST(js.proxy_id AS NVARCHAR(10))
					, '@proxy_name = ''' + p.name + ''''
				) AS NVARCHAR(MAX)), CHAR(10))
			FROM msdb.dbo.sysjobsteps js
			LEFT JOIN msdb.dbo.sysproxies p
				ON p.proxy_id = js.proxy_id
			WHERE js.job_id = j.job_id
		) js
	), index_definitions AS 
	(
		SELECT object_id = i.object_id
			, index_definitions = STRING_AGG(CAST(CONCAT_WS(' '
				, 'CREATE'
				, IIF(i.is_unique = 1, 'UNIQUE', '') 
				, 'NONCLUSTERED INDEX'
				, QUOTENAME(i.name) + nlt + 'ON'
				, QUOTENAME(OBJECT_SCHEMA_NAME(i.object_id)) + '.' + QUOTENAME(OBJECT_NAME(i.object_id))
				, ref_cols
				, ISNULL(inc_cols, '')
				) + ';' AS NVARCHAR(MAX)), CHAR(10) + CHAR(10))
		FROM sys.indexes i WITH (NOLOCK, NOWAIT)
		CROSS APPLY ( SELECT nl = CHAR(10), t = CHAR(9), nlt = CHAR(10) + CHAR(9), nltt = CHAR(10) + CHAR(9) + CHAR(9), s = CHAR(32) ) _
		CROSS APPLY (
			SELECT ref_cols = '(' + nltt + STRING_AGG(CAST(IIF(ic.is_included_column = 0, QUOTENAME(c.name), NULL) + IIF(ic.is_descending_key = 1, ' DESC', '') AS NVARCHAR(MAX))
					, CHAR(10) + CHAR(9) + CHAR(9) + ', ') + nlt + ')'
				, inc_cols = ' INCLUDE (' + nltt + STRING_AGG(CAST(IIF(ic.is_included_column = 1, QUOTENAME(c.name), NULL) + IIF(ic.is_descending_key = 1, ' DESC', '') AS NVARCHAR(MAX))
					, CHAR(10) + CHAR(9) + CHAR(9) + ', ') + nlt + ')'
			FROM sys.index_columns ic WITH (NOLOCK, NOWAIT)
			JOIN sys.columns c WITH (NOLOCK, NOWAIT) ON ic.object_id = c.object_id AND ic.column_id = c.column_id
			WHERE ic.object_id = i.object_id
				AND ic.index_id = i.index_id
		) c
		WHERE i.is_primary_key = 0
			AND i.type = 2
		GROUP BY i.object_id
	),
	fk_columns AS 
	(
		 SELECT k.parent_object_id
			, k.constraint_object_id
			, cname = c.name
			, rcname = rc.name
		FROM sys.foreign_key_columns k WITH (NOLOCK, NOWAIT)
		JOIN sys.columns rc WITH (NOLOCK, NOWAIT) ON rc.[object_id] = k.referenced_object_id AND rc.column_id = k.referenced_column_id 
		JOIN sys.columns c WITH (NOLOCK, NOWAIT) ON c.[object_id] = k.parent_object_id AND c.column_id = k.parent_column_id
	), _tbls AS (
		SELECT _t.object_id
			, definition
		FROM sys.tables _t
		CROSS APPLY (
			SELECT definition = (
				SELECT 'CREATE TABLE ' + QUOTENAME(OBJECT_SCHEMA_NAME(_t.object_id)) + '.' + QUOTENAME(OBJECT_NAME(_t.object_id)) + CHAR(13) + '(' + CHAR(13) + CHAR(9) +
					STRING_AGG(CAST(QUOTENAME(c.name) + 
						CASE WHEN c.is_computed = 1
							THEN 'AS ' + cc.definition 
							ELSE UPPER(tp.name) + 
								CASE WHEN tp.name IN ('varchar', 'char', 'varbinary', 'binary', 'text')
									   THEN '(' + CASE WHEN c.max_length = -1 THEN 'MAX' ELSE CAST(c.max_length AS VARCHAR(5)) END + ')'
									 WHEN tp.name IN ('nvarchar', 'nchar', 'ntext')
									   THEN '(' + CASE WHEN c.max_length = -1 THEN 'MAX' ELSE CAST(c.max_length / 2 AS VARCHAR(5)) END + ')'
									 WHEN tp.name IN ('datetime2', 'time2', 'datetimeoffset') 
									   THEN '(' + CAST(c.scale AS VARCHAR(5)) + ')'
									 WHEN tp.name = 'decimal' 
									   THEN '(' + CAST(c.[precision] AS VARCHAR(5)) + ',' + CAST(c.scale AS VARCHAR(5)) + ')'
									ELSE ''
								END +
								CASE WHEN c.collation_name IS NOT NULL THEN ' COLLATE ' + c.collation_name ELSE '' END +
								CASE WHEN c.is_nullable = 1 THEN ' NULL' ELSE ' NOT NULL' END +
								CASE WHEN dc.definition IS NOT NULL THEN ' DEFAULT' + dc.definition ELSE '' END + 
								CASE WHEN ic.is_identity = 1 THEN ' IDENTITY(' + CAST(ISNULL(ic.seed_value, '0') AS CHAR(1)) + ',' + CAST(ISNULL(ic.increment_value, '1') AS CHAR(1)) + ')' ELSE '' END 
						END + CHAR(13) AS NVARCHAR(MAX)), CHAR(13) + CHAR(9) + ', ') WITHIN GROUP (ORDER BY c.column_id) + CHAR(13)
				FROM sys.columns c WITH (NOLOCK, NOWAIT)
				JOIN sys.types tp WITH (NOLOCK, NOWAIT) ON c.user_type_id = tp.user_type_id
				LEFT JOIN sys.computed_columns cc WITH (NOLOCK, NOWAIT) ON c.object_id = cc.object_id AND c.column_id = cc.column_id
				LEFT JOIN sys.default_constraints dc WITH (NOLOCK, NOWAIT) ON c.default_object_id != 0 AND c.object_id = dc.parent_object_id AND c.column_id = dc.parent_column_id
				LEFT JOIN sys.identity_columns ic WITH (NOLOCK, NOWAIT) ON c.is_identity = 1 AND c.object_id = ic.object_id AND c.column_id = ic.column_id
				WHERE c.object_id = _t.object_id
			) + ISNULL((
				SELECT CHAR(9) + ', CONSTRAINT [' + k.name + '] PRIMARY KEY (' + 
					(
					SELECT STRING_AGG(CAST(QUOTENAME(c.name) + CASE WHEN ic.is_descending_key = 1 THEN 'DESC' ELSE 'ASC' END AS NVARCHAR(MAX)), ', ')
					FROM sys.index_columns ic WITH (NOLOCK, NOWAIT)
					JOIN sys.columns c WITH (NOLOCK, NOWAIT) ON c.object_id = ic.object_id AND c.column_id = ic.column_id
					WHERE ic.is_included_column = 0
						AND ic.object_id = k.parent_object_id 
						AND ic.index_id = k.unique_index_id     
					)
				+ ')' + CHAR(13)
				FROM sys.key_constraints k WITH (NOLOCK, NOWAIT)
				WHERE k.parent_object_id = _t.object_id 
					AND k.type = 'PK'), '') 
			+ CHAR(13) + 
			')' + CHAR(13) + 
			ISNULL(( SELECT STRING_AGG(fk_def, CHAR(13))
			FROM (	SELECT fk_def = CAST('ALTER TABLE ' + QUOTENAME(OBJECT_SCHEMA_NAME(_t.object_id)) + '.' + QUOTENAME(OBJECT_NAME(_t.object_id)) + ' WITH' +
			CASE WHEN fk.is_not_trusted = 1 
						THEN ' NOCHECK' 
						ELSE ' CHECK' 
					  END + ' ADD CONSTRAINT [' + fk.name  + '] FOREIGN KEY(' 
						+ (
							SELECT STRING_AGG(QUOTENAME(k.cname), ', ')
							FROM fk_columns k
							WHERE k.constraint_object_id = fk.object_id
						) + ') REFERENCES ' + QUOTENAME(OBJECT_SCHEMA_NAME(ro.object_id)) + '.' + QUOTENAME(OBJECT_NAME(ro.object_id)) + ' ('
						+ (
							SELECT STRING_AGG(QUOTENAME(k.rcname), ', ')
							FROM fk_columns k
							WHERE k.constraint_object_id = fk.object_id
						) + ' )' + CASE 
						WHEN fk.delete_referential_action = 1 THEN ' ON DELETE CASCADE' 
						WHEN fk.delete_referential_action = 2 THEN ' ON DELETE SET NULL'
						WHEN fk.delete_referential_action = 3 THEN ' ON DELETE SET DEFAULT' 
						ELSE '' 
					  END
					+ CASE 
						WHEN fk.update_referential_action = 1 THEN ' ON UPDATE CASCADE'
						WHEN fk.update_referential_action = 2 THEN ' ON UPDATE SET NULL'
						WHEN fk.update_referential_action = 3 THEN ' ON UPDATE SET DEFAULT'  
						ELSE '' 
					  END 
					+ CHAR(13) + 'ALTER TABLE ' + QUOTENAME(OBJECT_SCHEMA_NAME(_t.object_id)) + '.' + QUOTENAME(OBJECT_NAME(_t.object_id)) + ' CHECK CONSTRAINT [' + fk.name  + ']' + CHAR(13)
					AS NVARCHAR(MAX))
				FROM sys.foreign_keys fk WITH (NOLOCK, NOWAIT)
				JOIN sys.objects ro WITH (NOLOCK, NOWAIT) ON ro.object_id = fk.referenced_object_id
				WHERE fk.parent_object_id = _t.object_id
			) G ), '') +
			ISNULL((	
			SELECT index_definitions
			FROM index_definitions G
			WHERE object_id = _t.object_id
			), '')
		) D
	), _syns AS (
		SELECT object_id	
			, definition = 'CREATE SYNONYM ' + 
			QUOTENAME(SCHEMA_NAME(schema_id)) + '.' + 
			QUOTENAME(OBJECT_NAME(object_id)) + 
			' FOR ' + base_object_name 
		FROM sys.synonyms WITH (NOLOCK, NOWAIT)
	), _mdls AS (
		SELECT object_id
			, definition
		FROM sys.sql_modules WITH (NOLOCK, NOWAIT)
	)
	SELECT object_uid = u.object_uid
		, object_server = @@SERVERNAME
		, object_db = DB_NAME()
		, object_scheme = OBJECT_SCHEMA_NAME(o.object_id)
		, object_name = OBJECT_NAME(o.object_id)
		, object_type = o.type_desc
		, object_definition = d.object_definition
		, object_definition_md5 = h.object_md5
	FROM sys.objects o WITH (NOLOCK, NOWAIT)
	LEFT JOIN _tbls ON _tbls.object_id = o.object_id
	LEFT JOIN _syns ON _syns.object_id = o.object_id
	LEFT JOIN _mdls ON _mdls.object_id = o.object_id
	CROSS APPLY ( SELECT object_definition = COALESCE(_tbls.definition, _syns.definition, _mdls.definition, OBJECT_DEFINITION(o.object_id)) ) d
	CROSS APPLY ( SELECT object_md5 = HASHBYTES('MD5', d.object_definition ) ) h
	CROSS APPLY ( SELECT object_uid = CONVERT(UNIQUEIDENTIFIER, HASHBYTES('MD5', CONCAT_WS('|', @@SERVERNAME, DB_NAME(), OBJECT_SCHEMA_NAME(o.object_id), OBJECT_NAME(o.object_id), o.type_desc) ) ) ) u
	WHERE o.parent_object_id = 0
		AND COALESCE(_tbls.definition, _syns.definition, _mdls.definition, OBJECT_DEFINITION(o.object_id)) IS NOT NULL
		AND DB_NAME() <> 'tempdb'
		AND o.is_ms_shipped = 0
	UNION
	SELECT object_uid	
		, object_server = @@SERVERNAME COLLATE SQL_Latin1_General_CP1_CI_AS
		, 'msdb' COLLATE SQL_Latin1_General_CP1_CI_AS
		, 'dbo' COLLATE SQL_Latin1_General_CP1_CI_AS
		, name COLLATE SQL_Latin1_General_CP1_CI_AS
		, 'JOB' COLLATE SQL_Latin1_General_CP1_CI_AS
		, createjobsql COLLATE SQL_Latin1_General_CP1_CI_AS
		, object_md5
	FROM _jobs
	CROSS APPLY ( SELECT object_uid = CONVERT(UNIQUEIDENTIFIER, HASHBYTES('MD5', CONCAT_WS('|', @@SERVERNAME, job_id, 'job') ) ) ) u
	CROSS APPLY ( SELECT object_md5 = HASHBYTES('MD5', createjobsql ) ) h

GO
