USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Function Name: [dbo].[udtf_hex_torgb]
    Purpose: Converts a 6-character hex color string into its RGB integer components
    
    Project: T-SQL-Scripts
    Date Created: 2025-10-15
    Author: Ludwig Mark
+
    Parameters:
+    @hex - CHAR(6) - Hex color code (6 characters, e.g., 'FFA07A')
+
+
    Returns: TABLE (R INT, G INT, B INT)
+
    Notes:
+
    - Expects lowercase or uppercase hex digits without leading '#'
+
    - Thread-safe and deterministic
+
    Performance:
+
    - Execution time: O(1)
+
    Dependencies:
+
    - No external dependencies
+
+
    Example:
+
    ------------------------
+
    SELECT * FROM dbo.udtf_hex_torgb('ffffff')
+
    Returns: R=255, G=255, B=255
+

+
    Modification History:
+
    Date        Author      Description
+
    ----------  ----------  ------------------------------------------------
+
    2025-10-15  Ludwig M.   Initial creation
+

+
    Validation:
+
    - Returns integers between 0 and 255 for each channel
+

+
    LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udtf_hex_torgb] (@hex char(6))
RETURNS TABLE
AS RETURN
    (
     SELECT CONVERT(INT, 16 * (CHARINDEX(SUBSTRING(@hex, 1, 1), '0123456789abcdef') - 1) + (CHARINDEX(SUBSTRING(@hex, 2, 1),
                                                                                        '0123456789abcdef') - 1)) AS R
           ,CONVERT(INT, 16 * (CHARINDEX(SUBSTRING(@hex, 3, 1), '0123456789abcdef') - 1) + (CHARINDEX(SUBSTRING(@hex, 4, 1),
                                                                                        '0123456789abcdef') - 1)) AS G
           ,CONVERT(INT, 16 * (CHARINDEX(SUBSTRING(@hex, 5, 1), '0123456789abcdef') - 1) + (CHARINDEX(SUBSTRING(@hex, 6, 1),
                                                                                        '0123456789abcdef') - 1)) AS B
    )
+
GO
