USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udtf_string_chars](@input NVARCHAR(MAX))
RETURNS @chars TABLE (
	id INT IDENTITY(1 ,1)
	, element NCHAR(1)
)
AS BEGIN

	WITH NumberGenerator as (    
		SELECT 1 AS Number    
		UNION ALL    
		SELECT Number + 1 
		FROM NumberGenerator 
		WHERE Number < LEN(@input) 
	) 
	INSERT INTO @chars
	SELECT SUBSTRING(@input, Number, 1)
	FROM NumberGenerator

	RETURN

END
GO
