USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*------------------------------------------------------------------------------
    Function Name: [dbo].[udtf_oa_readfile]
    Purpose: Reads a text file from the server using Scripting.FileSystemObject and returns lines as rows
+
+
    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @FilePath VARCHAR(255) - Path to the text file on the server
+
+
+    Returns: TABLE (Id INT, LineText VARCHAR(1000))
+
+
+    Notes:
+
+    - Uses OLE Automation (Scripting.FileSystemObject) and sp_OA* procedures
+
+    - Requires Ole Automation enabled and permissions for the SQL Server service account to access the file
+
+    Security:
+
+    - High risk if used to read sensitive files; validate inputs and run in controlled environments
+
+
+    Dependencies:
+
+    - sp_OACreate, sp_OAMethod, sp_OADestroy
+
+
+    Example:
+
+    ------------------------
+
+    SELECT * FROM dbo.udtf_oa_readfile('C:\\temp\\example.txt')
+
+
+    Modification History:
+
+
+    Date        Author      Description
+
+    ----------  ----------  ------------------------------------------------
+
+    2025-10-15  Ludwig M.   Initial creation
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE FUNCTION [dbo].[udtf_oa_readfile] (@FilePath VARCHAR(255))
RETURNS @TextLines TABLE (
		Id INT IDENTITY(1,1)
		, LineText VARCHAR(1000)
	)
AS
  BEGIN

	DECLARE @Src_OLE INT
		, @Src_OLEResult INT
		, @Src_FileId INT
		, @Line VARCHAR(8000)

	EXECUTE @Src_OLEResult = sp_OACreate 'scripting.filesystemobject', @Src_OLE OUT 
	EXECUTE @Src_OLEResult = sp_OAMethod @Src_OLE, 'opentextfile', @Src_FileId OUT, @FilePath, 1, 1 

	EXECUTE @Src_OLEResult = sp_OAMethod @Src_FileId, 'readline', @Line OUT

	WHILE (@Src_OLEResult >= 0) BEGIN

		INSERT INTO @TextLines SELECT @Line

		EXECUTE @Src_OLEResult = sp_OAMethod @Src_FileId, 'readline', @Line OUT

	END

	INSERT INTO @TextLines SELECT @Line

	EXECUTE @Src_OLEResult = sp_OADestroy @Src_FileId 
	EXECUTE @Src_OLEResult = sp_OADestroy @Src_OLE 

	RETURN 

END

GO
