USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Function Name: [dbo].[udtf_http_request]
    Purpose: Perform HTTP(S) requests using MSXML2.XMLHTTP and return response as table rows
+
+
    Project: T-SQL-Scripts
+
    Date Created: 2025-10-15
+
    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @uri NVARCHAR(MAX) - Target URI
+
+    @method NVARCHAR(10) - HTTP method ('GET','POST','PUT','DELETE')
+
+    @headersJson NVARCHAR(MAX) - JSON object of headers
+
+    @bodyJson NVARCHAR(MAX) - Body content for POST/PUT
+
+
+    Returns: TABLE (response NVARCHAR(MAX))
+
+
+    Notes:
+
+    - Uses OLE Automation sp_OACreate/sp_OAMethod to create MSXML2.XMLHTTP
+
+    - Requires OLE Automation and adequate SQL Server permissions
+
+    Security:
+
+    - Enabling OLE Automation carries risk; run in controlled/test environments first
+
+
+    Dependencies:
+
+    - sp_OACreate, sp_OAMethod, sp_OAGetProperty, sp_OADestroy
+
+
+    Example:
+
+    ------------------------
+
+    SELECT * FROM dbo.udtf_http_request('https://example.com', 'GET', NULL, NULL)
+
+
+    Modification History:
+
+
+    Date        Author      Description
+
+    ----------  ----------  ------------------------------------------------
+
+    2025-10-15  Ludwig M.   Initial creation
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udtf_http_request] (
    @uri NVARCHAR(MAX),
    @method NVARCHAR(10), -- e.g., 'GET', 'POST', 'PUT', 'DELETE'
    @headersJson NVARCHAR(MAX),
    @bodyJson NVARCHAR(MAX)
)
RETURNS @result TABLE (
    response NVARCHAR(MAX)
)
AS
BEGIN
    DECLARE @object INT,
            @hr INT,
            @statusCode INT,
            @headerName NVARCHAR(255),
            @headerValue NVARCHAR(MAX),
            @line NVARCHAR(4000),
            @responseText NVARCHAR(MAX) = N'';

    -- Create the XMLHTTP object
    EXEC @hr = sp_OACreate 'MSXML2.XMLHTTP', @object OUT;
    IF @hr <> 0
    BEGIN
        --INSERT INTO @result
        --VALUES (-1, 'Failed to create XMLHTTP object', @uri, @method, @headersJson, @bodyJson);
        RETURN;
    END

    -- Open the request
    EXEC @hr = sp_OAMethod @object, 'open', NULL, @method, @uri, FALSE;
    IF @hr <> 0
    BEGIN
        --INSERT INTO @result
        --VALUES (-2, 'Failed to open HTTP request', @uri, @method, @headersJson, @bodyJson);
        RETURN;
    END

    -- Apply headers from JSON
    DECLARE @headers TABLE (name NVARCHAR(255), value NVARCHAR(MAX));
    INSERT INTO @headers (name, value)
    SELECT [key], value
    FROM OPENJSON(@headersJson);

    DECLARE header_cursor CURSOR FOR SELECT name, value FROM @headers;
    OPEN header_cursor;
    FETCH NEXT FROM header_cursor INTO @headerName, @headerValue;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC @hr = sp_OAMethod @object, 'setRequestHeader', NULL, @headerName, @headerValue;
        FETCH NEXT FROM header_cursor INTO @headerName, @headerValue;
    END
    CLOSE header_cursor;
    DEALLOCATE header_cursor;

    -- Send the request with body (or NULL for GET/DELETE)
    IF @method IN ('GET', 'DELETE')
        EXEC @hr = sp_OAMethod @object, 'send', NULL, NULL;
    ELSE
        EXEC @hr = sp_OAMethod @object, 'send', NULL, @bodyJson;

    IF @hr <> 0
    BEGIN
        --INSERT INTO @result
        --VALUES (-3, 'Failed to send HTTP request', @uri, @method, @headersJson, @bodyJson);
        RETURN;
    END

    -- Get status code
    EXEC @hr = sp_OAGetProperty @object, 'status', @statusCode OUT;
	EXEC sp_OAMethod @object, 'responseText'

    -- Clean up
    EXEC sp_OADestroy @object;

    RETURN;
END
GO
