USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   FUNCTION [dbo].[udtf_string_urlqueryparams](
    @url VARCHAR(2600)
)
RETURNS @queryparams TABLE (
    id INT IDENTITY(1, 1)
    ,_key NVARCHAR(MAX)
    ,_value NVARCHAR(MAX)
)
AS
BEGIN
    
 
    INSERT INTO @queryparams
    SELECT LEFT(value, PATINDEX('%=%', value) - 1)
        , SUBSTRING(value, PATINDEX('%=%', value) + 1, LEN(value))
    FROM STRING_SPLIT((
        SELECT SUBSTRING(@url, LEN(value) + 2, LEN(@url) - LEN(value))
        FROM STRING_SPLIT(@url + '?', '?')
        WHERE SUBSTRING(@url, LEN(value) + 1, LEN(@url) - LEN(value)) LIKE '?%'
    ), '&')

    RETURN

END
GO
