USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[udtf_parse_json] ( @JSON NVARCHAR(MAX) )
RETURNS @kvs TABLE (
		id INT IDENTITY(1, 1)
		, _key NVARCHAR(MAX)
		, _value NVARCHAR(MAX)
		, _type INT
	)
AS
BEGIN

	DECLARE @id INT
		, @key NVARCHAR(MAX)
		, @value NVARCHAR(MAX)
	DECLARE @kvs_raw TABLE (
		id INT IDENTITY(1, 1)
		, _key NVARCHAR(MAX)
		, _value NVARCHAR(MAX)
		, _type INT
	)

	INSERT INTO @kvs_raw
	SELECT '$.' + [key], [value], [type]
	FROM OPENJSON(@JSON) r

	WHILE EXISTS (SELECT * FROM @kvs_raw WHERE _type IN (4, 5)) BEGIN

		WHILE EXISTS (SELECT * FROM @kvs_raw WHERE _type = 5) BEGIN

			SELECT TOP 1 @id = id, @key = _key, @value = _value FROM @kvs_raw WHERE _type = 5
	
			INSERT INTO @kvs_raw SELECT @key + '.' + [key], [value], [type] FROM OPENJSON(@value) r

			DELETE FROM @kvs_raw WHERE id = @id

		END

		WHILE EXISTS (SELECT * FROM @kvs_raw WHERE _type = 4) BEGIN

			SELECT TOP 1 @id = id, @key = _key, @value = _value FROM @kvs_raw WHERE _type = 4
	
			INSERT INTO @kvs_raw SELECT @key + IIF((SELECT MAX([key]) FROM OPENJSON(@value)) = 0, '', '[' + CAST([key] AS VARCHAR(10)) + ']'), [value], [type] FROM OPENJSON(@value) r

			DELETE FROM @kvs_raw WHERE id = @id

		END

	END

	INSERT INTO @kvs
	SELECT _key, _value, _type FROM @kvs_raw WHERE LEN(_value) > 0 ORDER BY 1

	RETURN

END
GO
