USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_dba_dbsizerecommendations
	Purpose: Analyze database file sizes and free space and recommend adjustments
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters: None
+
+
+    Returns: Result set with drive, database, file type and recommendations
+
+
+    Notes:
+
+    - Uses master.sys.master_files and xp_fixeddrives; requires appropriate permissions
+
+
+    Dependencies:
+
+    - xp_fixeddrives (requires xp_cmdshell-like feature or sysadmin)
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_dba_dbsizerecommendations]
AS
BEGIN

	DECLARE @masterfiles TABLE (
		[database_id] INT
		,[file_id] INT
		,[type] TINYINT
		,[name] NVARCHAR(128)
		,[physical_name] NVARCHAR(260)
		,[size] INT
		,[max_size] INT
		,[growth] INT
		,[is_percent_growth] BIT
		)

	INSERT INTO @masterfiles
	SELECT database_id
		,file_id
		,type
		,name
		,physical_name
		,size
		,max_size
		,growth
		,is_percent_growth
	FROM master.sys.master_files

	DECLARE @fixeddrives TABLE (
		drive CHAR(1)
		,mbfree BIGINT
		)

	INSERT INTO @fixeddrives
	EXEC xp_fixeddrives

	DECLARE @useddrives TABLE (
		dbname VARCHAR(128)
		,filetype VARCHAR(128)
		,filepath VARCHAR(2600)
		,drive CHAR(1)
		,mbfree BIGINT
		,percgrowth BIT
		,growthtospaceratio NUMERIC(18, 2)
		)

	INSERT INTO @useddrives (
		dbname
		,filetype
		,filepath
		,drive
		,mbfree
		,percgrowth
		,growthtospaceratio
		)
	SELECT name
		,(
			CASE 
				WHEN type = 1
					THEN 'log'
				ELSE 'data'
				END
			)
		,physical_name
		,drive
		,mbfree
		,is_percent_growth
		,growth * 100.0 / mbfree
	FROM @fixeddrives
	JOIN @masterfiles ON left(physical_name, 1) = drive

	SELECT drive
		,dbname
		,filetype
		,growthtospaceratio
		,comment
	FROM (
		SELECT *
			,(
				CASE 
					WHEN percgrowth = 1
						THEN 'DB File set to % growth which is not recommended.'
					WHEN growthtospaceratio > 5
						THEN 'Growth size greater than 5% of free disk space, adjustment recommended.'
					ELSE NULL
					END
				) comment
		FROM @useddrives
		) _data
	WHERE comment IS NOT NULL
	ORDER BY 1
		,5 DESC

END
GO
