USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_dba_SMOscriptobject]
	@objectid INT
AS
BEGIN

SET NOCOUNT ON;

DECLARE @Script NVARCHAR(MAX) = '
Import-Module -Name SQLPS -DisableNameChecking
$outfile = [System.IO.Path]::GetTempFileName();
$server = "' + @@SERVERNAME + '"
$database = "' + DB_NAME() + '"
[System.Reflection.Assembly]::LoadWithPartialName("Microsoft.SqlServer.SMO") | Out-Null
$connectionString = ("Server=" + $server + ";Initial Catalog=" + $database + ";Trusted_Connection=True;")
$srv = New-Object "Microsoft.SqlServer.Management.SMO.Server"
$conContext = $srv.ConnectionContext
$conContext.ConnectionString = $connectionString
$srv = New-Object "Microsoft.SqlServer.Management.SMO.Server" $conContext
$db = New-Object ("Microsoft.SqlServer.Management.SMO.Database")
$scripter = New-Object ("Microsoft.SqlServer.Management.SMO.Scripter") $srv
$db = $srv.Databases[$database]
$scripter.Options.ScriptSchema = $true
$scripter.Options.ScriptData = $false
$scripter.Options.NoCommandTerminator = $false
$scripter.Options.ToFileOnly = $true
$scripter.Options.AllowSystemObjects = $false
$scripter.Options.Permissions = $true
$scripter.Options.DriAllConstraints = $true
$scripter.Options.SchemaQualify = $true
$scripter.Options.AnsiFile = $true
$scripter.Options.SchemaQualifyForeignKeysReferences = $true
$scripter.Options.Indexes = $true
$scripter.Options.DriIndexes = $true
$scripter.Options.DriClustered  = $true
$scripter.Options.DriNonClustered = $true
$scripter.Options.NonClusteredIndexes = $true
$scripter.Options.ClusteredIndexes = $true
$scripter.Options.FullTextIndexes = $true
$scripter.Options.EnforceScriptingOptions = $true
$scripter.Options.FileName = $outfile;
foreach ($o in $db.Tables) {        
    if ($o.Id -eq "' + CAST(@objectid AS VARCHAR(MAX)) + '") {
		$scripter.EnumScript($o);
		Get-Content $outfile;
		Exit;
    } 
}
foreach ($o in $db.StoredProcedures) {        
    if ($o.Id -eq "' + CAST(@objectid AS VARCHAR(MAX)) + '") {
		$scripter.EnumScript($o);
		Get-Content $outfile;
		Exit;
    } 
}
foreach ($o in $db.Triggers) {        
    if ($o.Id -eq "' + CAST(@objectid AS VARCHAR(MAX)) + '") {
		$scripter.EnumScript($o);
		Get-Content $outfile;
		Exit;
    } 
}
foreach ($o in $db.Views) {        
    if ($o.Id -eq "' + CAST(@objectid AS VARCHAR(MAX)) + '") {
		$scripter.EnumScript($o);
		Get-Content $outfile;
		Exit;
    } 
}
foreach ($o in $db.UserDefinedFunctions) {       
    if ($o.Id -eq "' + CAST(@objectid AS VARCHAR(MAX)) + '") {
		$scripter.EnumScript($o);
		Get-Content $outfile;
		Exit;
    } 
}
foreach ($o in $db.UserDefinedTableTypes) {      
    if ($o.Id -eq "' + CAST(@objectid AS VARCHAR(MAX)) + '") {
		$scripter.EnumScript($o);
		Get-Content $outfile;
		Exit;
    } 
}
'
DECLARE @Ole INT
    , @FileId INT
	, @TmpFile VARCHAR(1000)
	, @TempDirObj INT
	, @TempDir VARCHAR(1000)
	, @ScriptOut VARCHAR(MAX)
	
EXECUTE sp_oacreate 'Scripting.FileSystemObject', @Ole OUTPUT
EXECUTE sp_oagetproperty @Ole, 'GetSpecialFolder(2)', @TempDirObj OUT
EXECUTE sp_oagetproperty @TempDirObj, 'Path', @TempDir OUT

SET @TmpFile = @TempDir + '\' + LEFT(NEWID(), 5) + '.ps1'

EXECUTE sp_oamethod @Ole, 'OpenTextFile', @FileId OUTPUT, @TmpFile, 2, 1
EXECUTE sp_oamethod @FileId, 'Write', NULL, @Script
EXECUTE sp_oadestroy @FileId
EXECUTE sp_oadestroy @Ole

DECLARE @Cmd VARCHAR(1000) = 'POWERSHELL -File "' + @TmpFile + '"'

DECLARE @Output TABLE (Id INT IDENTITY(1, 1), Line NVARCHAR(MAX))

INSERT @Output EXEC xp_cmdshell @Cmd

SELECT @ScriptOut = STRING_AGG(ISNULL(Line, ''), CHAR(13) + CHAR(10)) FROM @Output

PRINT @ScriptOut

END
GO
