USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_dba_cloneuser]
	@OldUser SYSNAME
	, @NewUser SYSNAME
	, @Password NVARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON

	DECLARE @Sql NVARCHAR(MAX)
	   
	DECLARE @cmds TABLE (
		id INT IDENTITY(1, 1)
		, cmd NVARCHAR(MAX)
	)

	INSERT INTO @cmds SELECT 'USE [master];'
	INSERT INTO @cmds SELECT 'CREATE LOGIN [' + @NewUser + '] WITH PASSWORD = N''' + @Password + ''', DEFAULT_DATABASE = [master], DEFAULT_LANGUAGE = [us_english], CHECK_EXPIRATION = OFF, CHECK_POLICY = OFF;'

	SELECT @Sql = '

			SET NOCOUNT ON

			DECLARE @OldUser SYSNAME
				, @NewUser SYSNAME

			SET @OldUser = ''' + @OldUser + ''' --The user or role from which to copy the permissions from
			SET @NewUser = ''' + @NewUser + '''  --The user or role to which to copy the permissions to
		
		' + STRING_AGG(CAST(sql_text AS NVARCHAR(MAX)), ';' + CHAR(10))
	FROM sys.databases
	CROSS APPLY (
		SELECT sql_text = REPLACE('

			USE [?]

			SELECT cmds = ''USE '' + QUOTENAME(DB_NAME()) + '';'' COLLATE DATABASE_DEFAULT

			SELECT cmds = ''CREATE USER '' + QUOTENAME(@NewUser) + '' FOR LOGIN '' + QUOTENAME(@NewUser) + '';'' COLLATE DATABASE_DEFAULT

			SELECT cmds = CONCAT_WS('' ''
					, perm.state_desc COLLATE DATABASE_DEFAULT
					, perm.permission_name COLLATE DATABASE_DEFAULT
					, ''ON''
					, QUOTENAME(SCHEMA_NAME(obj.schema_id)) + ''.'' + QUOTENAME(obj.name) COLLATE DATABASE_DEFAULT
					, ''('' + QUOTENAME(cl.name) COLLATE DATABASE_DEFAULT + '')''
					, ''TO''
					, QUOTENAME(@NewUser) COLLATE DATABASE_DEFAULT
					, IIF(perm.state <> ''W'', '''', ''WITH GRANT OPTION'') COLLATE DATABASE_DEFAULT
				) + '';'' COLLATE DATABASE_DEFAULT
			FROM sys.database_permissions AS perm
			INNER JOIN sys.objects AS obj ON perm.major_id = obj.object_id
			INNER JOIN sys.database_principals AS usr ON perm.grantee_principal_id = usr.principal_id
			LEFT JOIN sys.columns AS cl ON cl.column_id = perm.minor_id
				AND cl.[object_id] = perm.major_id
			WHERE usr.name = @OldUser COLLATE DATABASE_DEFAULT

			SELECT cmds = CONCAT_WS('' ''
					, perm.state_desc COLLATE DATABASE_DEFAULT
					, perm.permission_name COLLATE DATABASE_DEFAULT
					, ''ON''
					, QUOTENAME(SCHEMA_NAME(obj.schema_id)) + ''.'' + QUOTENAME(obj.name) COLLATE DATABASE_DEFAULT
					, ''TO''
					, QUOTENAME(@NewUser) COLLATE DATABASE_DEFAULT
					, IIF(perm.state <> ''W'', '''', ''WITH GRANT OPTION'') COLLATE DATABASE_DEFAULT
				) + '';'' COLLATE DATABASE_DEFAULT
			FROM sys.database_permissions AS perm
			INNER JOIN sys.objects AS obj ON perm.major_id = obj.object_id
			INNER JOIN sys.database_principals AS usr ON perm.grantee_principal_id = usr.principal_id
			WHERE usr.name = @OldUser COLLATE DATABASE_DEFAULT

			SELECT cmds = ''EXEC sp_addrolemember @rolename = '' COLLATE DATABASE_DEFAULT
					+ QUOTENAME(USER_NAME(rm.role_principal_id), '''''''')  COLLATE DATABASE_DEFAULT
					+ '', @membername = ''  COLLATE DATABASE_DEFAULT
					+ QUOTENAME(@NewUser, '''''''')  COLLATE DATABASE_DEFAULT
					+ '';'' COLLATE DATABASE_DEFAULT
			FROM sys.database_role_members AS rm
			WHERE USER_NAME(rm.member_principal_id) = @OldUser COLLATE DATABASE_DEFAULT

		', '?', name)

	) T

	INSERT INTO @cmds EXEC (@Sql)

	SELECT * 
	FROM @cmds

END
GO
