USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_os_writefile
	Purpose: Write text to a file on the server using FileSystemObject OLE Automation
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @FilePath VARCHAR(MAX) - full path of the file to write
+
+    @Text NVARCHAR(MAX) - content to write
+
+
+    Returns: None (raises OLE errors if write fails)
+
+
+    Notes:
+
+    - Ensures parent directories exist (attempts to create them). Uses OLE Automation; requires OLE enabled and file system permissions.
+
+
+    Dependencies:
+
+    - sp_OACreate, sp_OAMethod, sp_OADestroy, sys.dm_os_file_exists (if available)
+
+
+    Security:
+
+    - Writing files on the server is sensitive. Restrict execution to administrators and validate paths.
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROC [dbo].[usp_os_writefile] @FilePath VARCHAR(MAX), @Text NVARCHAR(MAX)
AS
BEGIN

SET NOCOUNT ON

	-- Declare handles for OLE automation objects and IDs
	DECLARE @Ole INT, @FileId INT, @ParentDirectory VARCHAR(8000), @hr INT, @ErrSrc NVARCHAR(255), @ErrorDesc NVARCHAR(255)

	-- Temporary table to hold all parent directories of the file path
	DECLARE @ParentDirectories TABLE (
		Id INT IDENTITY(1, 1),
		ParentDirectory VARCHAR(8000)
	)

	-- Build a list of parent directories from the file path using STRING_SPLIT
	;WITH ParentDirectories AS (
		SELECT Id = ROW_NUMBER() OVER (ORDER BY (SELECT 1) ASC),
			   Part = value + '\'
		FROM STRING_SPLIT(@FilePath, '\')
	)
	INSERT INTO @ParentDirectories
	SELECT ParentDirectory
	FROM ParentDirectories B
	CROSS APPLY (
		SELECT ParentDirectory = STRING_AGG(P.Part, '')
		FROM (
			SELECT TOP (B.Id) Part = Part,
				   MaxId = MAX(Id) OVER ()
			FROM ParentDirectories
		) P
		WHERE Id <> MaxId
	) P
	WHERE ParentDirectory IS NOT NULL

	-- Create FileSystemObject OLE object
	EXECUTE sp_OACreate 'Scripting.FileSystemObject', @Ole OUTPUT
	IF @hr <> 0 GOTO _error

	-- Ensure all parent directories exist (create them if missing)
	WHILE EXISTS (SELECT * FROM @ParentDirectories) 
	BEGIN
		SELECT TOP 1 @ParentDirectory = ParentDirectory 
		FROM @ParentDirectories ORDER BY Id ASC

		DELETE FROM @ParentDirectories 
		WHERE ParentDirectory = @ParentDirectory

		-- Create folder if it does not exist
		IF EXISTS (SELECT 1 FROM sys.dm_os_file_exists(@ParentDirectory) WHERE file_exists = 0)
			EXECUTE sp_OAMethod @Ole, 'CreateFolder', @ParentDirectory OUT, @ParentDirectory
			IF @hr <> 0 GOTO _error
	END

	-- Open or create the file for writing (mode=2, create=true)
	EXECUTE sp_OAMethod @Ole, 'OpenTextFile', @FileId OUTPUT, @FilePath, 
		2, -- 1(read), 2(write), 8(append), 
		1, -- 1(can create file), 0(cannot create file), 
		0  -- 0(ascii), 1(unicode), 2(system default) 
	IF @hr <> 0 GOTO _error

	EXECUTE sp_OAMethod @FileId, 'Write', NULL, @Text
	IF @hr <> 0 GOTO _error

	
	GOTO _success

	_error:
		EXECUTE sp_oageterrorinfo @hr, @ErrSrc OUT, @ErrorDesc OUT 
		SELECT @hr, @ErrSrc, @ErrorDesc

	_success:
		EXECUTE sp_OADestroy @FileId
		EXECUTE sp_OADestroy @Ole

END
GO
