USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_os_writefile_bcp
	Purpose: Write text to a file using BCP and a temporary global table
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @outfile VARCHAR(4000) - output file path
+
+    @text VARCHAR(MAX) - text to write
+
+
+    Returns: None (writes file using bcp and xp_cmdshell)
+
+
+    Notes:
+
+    - Creates a ## global temp table to hold the text and invokes bcp via xp_cmdshell. Cleans up the temp table.
+
+
+    Dependencies:
+
+    - xp_cmdshell, bcp utility on PATH
+
+
+    Security:
+
+    - Executing xp_cmdshell/bcp is high risk; sanitize inputs and restrict permissions.
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_os_writefile_bcp] 
	@outfile VARCHAR(4000)
	,@text VARCHAR(max)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @droptable VARCHAR(max)
	DECLARE @storetext VARCHAR(max)
	DECLARE @tempname VARCHAR(12)
	DECLARE @bcp VARCHAR(4000)

	SELECT @tempname = REPLACE(NEWID(), '-', '')

	SET @storetext = '
	create table ##temp_' + @tempname + ' (textdata varchar(max)) 
	insert into ##temp_' + @tempname + '
	select ''' + replace(@text, '''', ''''''
		) + ''''

	EXEC (@storetext)

	SET @bcp = 'bcp "select top 1 textdata from ##temp_' + @tempname + '" queryout "' + @outfile + '" -T -c'

	EXEC xp_cmdshell @bcp, no_output

	SET @droptable = 'drop table ##temp_' + @tempname

	EXEC (@droptable)

END
GO
