USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_dba_deployaudittriggers
	Purpose: Deploy audit triggers that capture INSERT/UPDATE/DELETE changes to tables into dbo.xtUpdates
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Notes:
+
+    - Creates a logging table and triggers to capture changes
+
+    Security:
+
+    - Consider performance and storage impact; triggers can affect DML performance
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_dba_deployaudittriggers] AS
BEGIN

	BEGIN TRY
		EXEC ('
			CREATE TABLE [dbo].[xtUpdates](
				[Id] [bigint] IDENTITY(1,1) NOT NULL,
				[UpdateAt] [datetime2](7) NULL,
				[Checksum] [timestamp] NOT NULL,
				[SrcSchema] [sysname] NOT NULL,
				[SrcTable] [sysname] NOT NULL,
				[TransactionBatch] [uniqueidentifier] NULL,
				[UpdateNo] [bigint] NULL,
				[Action] [varchar](128) NULL,
				[Record] [nvarchar](max) NULL
			) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
			ALTER TABLE [dbo].[xtUpdates] ADD  DEFAULT (sysdatetime()) FOR [UpdateAt]
		')
	END TRY BEGIN CATCH END CATCH

	DECLARE @SQL NVARCHAR(MAX)

	DECLARE log_trigger_cursor CURSOR FOR   
	SELECT CAST('

		CREATE OR ALTER TRIGGER [' + sch.name + '].[trg_LogAll_' + t.name + ']
		ON [' + sch.name + '].[' + t.name + ']
		AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN

		DECLARE @TransactionBatch UNIQUEIDENTIFIER = NEWID()
			, @Schema SYSNAME = ''' + sch.name + '''
			, @Table SYSNAME = ''' + t.name + '''

		INSERT INTO dbo.xtUpdates (SrcSchema, SrcTable, TransActionBatch, UpdateNo, Action, Record)
		SELECT @Schema
			, @Table
			, @TransactionBatch
			, UpdateNo
			, Action
			, Record
		FROM (
			SELECT UpdateNo, Action, Record
			FROM (
				SELECT ROW_NUMBER() OVER (ORDER BY (SELECT 1)) UpdateNo
					, ''INSERTED'' Action
				FROM inserted
			) C CROSS APPLY (
				SELECT (
					SELECT ' + (SELECT STRING_AGG(CAST(QUOTENAME(name) AS nvarchar(MAX)), '
						, ') FROM (
						SELECT DISTINCT c.name
						FROM sys.columns c 
						JOIN sys.types y ON y.system_type_id = c.system_type_id
						WHERE c.object_id = o.object_id
						AND y.name NOT IN ('text', 'ntext', 'image')
					) X
					) + '
					FROM (
						SELECT ROW_NUMBER() OVER (ORDER BY (SELECT 1)) UpdateNo
							, ' + (SELECT STRING_AGG(CAST(QUOTENAME(name) AS nvarchar(MAX)), '
						, ') FROM (
						SELECT DISTINCT c.name
						FROM sys.columns c 
						JOIN sys.types y ON y.system_type_id = c.system_type_id
						WHERE c.object_id = o.object_id
						AND y.name NOT IN ('text', 'ntext', 'image')
					) X
					) + '
						FROM inserted
					) S WHERE S.UpdateNo = C.UpdateNo
					FOR JSON AUTO
						, WITHOUT_ARRAY_WRAPPER
				) Record
			) D
			UNION
			SELECT UpdateNo, Action, Record
			FROM (
				SELECT ROW_NUMBER() OVER (ORDER BY (SELECT 1)) UpdateNo
					, ''DELETED'' Action
				FROM deleted
			) C CROSS APPLY (
				SELECT (
					SELECT ' + (SELECT STRING_AGG(CAST(QUOTENAME(name) AS nvarchar(MAX)), '
						, ') FROM (
						SELECT DISTINCT c.name
						FROM sys.columns c 
						JOIN sys.types y ON y.system_type_id = c.system_type_id
						WHERE c.object_id = o.object_id
						AND y.name NOT IN ('text', 'ntext', 'image')
					) X
					) + '
					FROM (
						SELECT ROW_NUMBER() OVER (ORDER BY (SELECT 1)) UpdateNo
							, ' + (SELECT STRING_AGG(CAST(QUOTENAME(name) AS nvarchar(MAX)), '
						, ') FROM (
						SELECT DISTINCT c.name
						FROM sys.columns c 
						JOIN sys.types y ON y.system_type_id = c.system_type_id
						WHERE c.object_id = o.object_id
						AND y.name NOT IN ('text', 'ntext', 'image')
					) X
					) + '
						FROM deleted
					) S WHERE S.UpdateNo = C.UpdateNo
					FOR JSON AUTO
						, WITHOUT_ARRAY_WRAPPER
				) Record
			) D
		) ROW_CHANGES

		DELETE FROM dbo.xtUpdates WHERE ABS(DATEDIFF(DAY, UpdateAt, GETDATE())) > 1	

		END

	' AS nvarchar(MAX))
	FROM sys.tables t
	JOIN sys.schemas sch ON sch.schema_id = t.schema_id
	JOIN sys.objects o ON t.object_id = o.object_id
	WHERE o.type = 'U'
	AND o.is_ms_shipped = 0
	AND t.name <> 'xtUpdates'
  
	OPEN log_trigger_cursor  
  
	FETCH NEXT FROM log_trigger_cursor   
	INTO @SQL
  
	WHILE @@FETCH_STATUS = 0  
	BEGIN  

		BEGIN TRY
		EXEC (@SQL)
		END TRY
		BEGIN CATCH
		PRINT (@SQL)
		END CATCH


		FETCH NEXT FROM log_trigger_cursor   
		INTO @SQL
	
	END   
	CLOSE log_trigger_cursor
	DEALLOCATE log_trigger_cursor

END
GO
