USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*------------------------------------------------------------------------------
    Procedure Name: dbo.usp_dba_dropuserobjects
    Purpose: Drop all non-system user-created objects in the current database
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Notes:
+
+    - Iterates sys.objects and calls usp_dba_dropuserobject for each non-MS-shipped object
+
+
+    Safety:
+
+    - Destructive across the database; use with caution and only in safe/test environments
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_dba_dropuserobjects]
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @objectname varchar(max)

    DECLARE drop_cursor CURSOR FOR   
    SELECT name FROM sys.objects
    WHERE is_ms_shipped = 0
  
    OPEN drop_cursor  
  
    FETCH NEXT FROM drop_cursor   
    INTO @objectname
  
    WHILE @@FETCH_STATUS = 0  
    BEGIN  

	    PRINT @objectname
	    EXEC dbo.usp_dba_dropuserobject @objectname

	    FETCH NEXT FROM drop_cursor   
	    INTO @objectname
	
    END   
    CLOSE drop_cursor
    DEALLOCATE drop_cursor

END
GO
