USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_dba_backupandzipdatabases] 
	@BackupPath NVARCHAR(4000)
AS
BEGIN

	-- requires 7zip binary in path

	SET NOCOUNT ON

	DECLARE @db_queue TABLE (dbname VARCHAR(128));
	DECLARE @backup_script VARCHAR(1000);
	DECLARE @backup_cmd VARCHAR(1000);
	DECLARE @curdb VARCHAR(128);

	INSERT INTO @db_queue
	SELECT name
	FROM sys.databases
	WHERE name <> 'tempdb'

	SET @backup_script = 'mkdir ' + @BackupPath;

	EXEC xp_cmdshell @backup_script
		,no_output;

	WHILE EXISTS (
			SELECT TOP 1 dbname
			FROM @db_queue
			)
	BEGIN
		SELECT TOP 1 @curdb = dbname
		FROM @db_queue;

		DELETE
		FROM @db_queue
		WHERE dbname = @curdb;

		SET @backup_script = 'BACKUP DATABASE [' + @curdb + '] TO DISK = ''' +  @BackupPath + 'dbs\' + replace(@curdb, ' ', '_') + '.bak'';';

		EXEC (@backup_script);
	END

	SET @backup_script = '7za.exe a -tZIP -r "' + @BackupPath + 'all_data.zip" "' + @BackupPath + 'dbs\*.bak" && del /f /s "' + @BackupPath + 'dbs\*.bak"'

	EXEC xp_cmdshell @backup_script
		,no_output;
		
	SET @backup_script = 'del /f /s "' + @BackupPath + '"'

	EXEC xp_cmdshell @backup_script
		,no_output;

END
GO
