USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Procedure Name: dbo.usp_dba_dropuserobject
    Purpose: Drop a user-created database object (table, view, proc, function, etc.) by name
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @objectname SYSNAME - object name to drop (schema detection uses sys.objects)
+
+
+    Notes:
+
+    - Infers object type via sys.objects.type and issues DROP accordingly
+
+
+    Safety:
+
+    - This is destructive; ensure you have backups and confirm intended objects before running
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_dba_dropuserobject] 
    @objectname SYSNAME
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @ObjectType SYSNAME = (SELECT [type] FROM sys.objects WHERE name = @objectname)
    DECLARE @SchemaName SYSNAME = (SELECT SCHEMA_NAME(schema_id) FROM sys.objects WHERE name = @objectname)
    DECLARE @DropType SYSNAME = ''
  
    IF @ObjectType IN ('PC', 'P')
        SELECT @DropType = 'PROCEDURE'

    IF @ObjectType IN ('FN', 'FS', 'FT', 'IF', 'TF')
        SELECT @DropType = 'FUNCTION'
    
    IF @ObjectType = 'AF'
        SELECT @DropType = 'AGGREGATE'
    
    IF @ObjectType = 'U'
        SELECT @DropType = 'TABLE'
    
    IF @ObjectType = 'V'
        SELECT @DropType = 'VIEW'
 
    IF @DropType <> ''
        EXEC('DROP '+ @DropType + ' [' + @SchemaName + '].[' + @objectname + ']')

END
GO
