USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_os_execps
	Purpose: Write a PowerShell script to a temp file and execute it via xp_cmdshell; return aggregated output
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @Script NVARCHAR(MAX) - PowerShell script content
+
+    @OutputStr NVARCHAR(MAX) OUTPUT - aggregated output
+
+
+    Returns: Output of the executed PowerShell script
+
+
+    Notes:
+
+    - Calls usp_os_writetempfile to create a secure temp file and then executes it using xp_cmdshell. Temp file is removed after execution (DEL).
+
+
+    Dependencies:
+
+    - usp_os_writetempfile, xp_cmdshell
+
+
+    Security:
+
+    - This procedure executes PowerShell on the server. Restrict to administrators and ensure proper auditing.
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROC [dbo].[usp_os_execps] @Script NVARCHAR(MAX), @OutputStr NVARCHAR(MAX) = NULL OUT
AS
BEGIN

SET NOCOUNT ON

DECLARE @Path NVARCHAR(MAX)
	, @Cmd VARCHAR(4000)

EXEC usp_os_writetempfile @Script, @Path OUT, 'ps1'

SET @Cmd =  'POWERSHELL -File "' + @Path + '" && DEL "' + @Path + '"'

DECLARE @Output TABLE (LineId INT IDENTITY(1, 1), Line VARCHAR(MAX))

INSERT @Output EXEC xp_cmdshell @Cmd

SELECT @OutputStr = ISNULL(@OutputStr, '') + Line + CHAR(13) FROM @Output WHERE LineId < (SELECT MAX(LineId) FROM @Output)

END
GO
