USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_os_execcmd
	Purpose: Execute an arbitrary OS command using xp_cmdshell and return the output
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @Script NVARCHAR(4000) - command to execute on the OS shell
+
+    @OutputStr NVARCHAR(MAX) OUTPUT - aggregated output
+
+
+    Returns: Output of the executed command
+
+
+    Notes:
+
+    - Uses xp_cmdshell; ensure this is acceptable in your environment. Output aggregation may truncate large outputs.
+
+
+    Dependencies:
+
+    - xp_cmdshell
+
+
+    Security:
+
+    - xp_cmdshell executes OS-level commands and is high risk; restrict to administrators and sanitize inputs.
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROC [dbo].[usp_os_execcmd] @Script NVARCHAR(4000), @OutputStr NVARCHAR(MAX) = NULL OUT
AS
BEGIN

SET NOCOUNT ON

DECLARE @Output TABLE (LineId INT IDENTITY(1, 1), Line VARCHAR(MAX))

INSERT @Output EXEC xp_cmdshell @Script

SELECT @OutputStr = ISNULL(@OutputStr, '') + Line + CHAR(13) FROM @Output WHERE LineId < (SELECT MAX(LineId) FROM @Output)

END
GO
