USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_dba_killallusers
	Purpose: Force a database into single-user mode and then back to multi-user (kicks all users)
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @dbname SYSNAME - target database name
+
+
+    Safety:
+
+    - Destructive to active sessions; use during maintenance windows only
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_dba_killallusers]
	@dbname SYSNAME
AS
BEGIN

	IF EXISTS (SELECT * FROM sys.databases WHERE name = @dbname) BEGIN

		DECLARE @sql NVARCHAR(MAX) = '
		ALTER DATABASE [model]
		SET SINGLE_USER
		WITH ROLLBACK IMMEDIATE;
		ALTER DATABASE [model]
		SET MULTI_USER;
		'
		EXEC (@sql)

	END ELSE BEGIN

		RAISERROR('No such DB', 0, 1) 

	END

END
GO
