USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_dba_fixdbfilelocations] 
AS
BEGIN

	DECLARE @sql NVARCHAR(MAX) = ''

	SELECT @sql += alterdb_sql
	FROM (
		SELECT db_name
			, name
			, correct_path
			, full_filesystem_path
			, current_path
			, alterdb_sql = CONCAT('

				SET NOCOUNT ON;

				ALTER DATABASE [', db_name, '] SET OFFLINE WITH ROLLBACK IMMEDIATE;

				ALTER DATABASE [', db_name, ']
					MODIFY FILE ( NAME = N''', name, '''
						, FILENAME = ''', correct_path, ''' );	

				EXEC (''	EXEC xp_cmdshell ''''MOVE "', current_path, '" "', correct_path, '"'''', no_output	'');
		
				IF NOT EXISTS (
					SELECT *
					FROM sys.dm_os_enumerate_filesystem(''', base_path, ''', ''*.', file_ext, ''')
					WHERE full_filesystem_path = ''', correct_path, '''
				) BEGIN
		
					ALTER DATABASE [', db_name, ']
						MODIFY FILE ( NAME = N''', name, '''
							, FILENAME = ''', current_path, ''' );	

				END

				ALTER DATABASE [', db_name, '] SET ONLINE;
	
				RAISERROR(''Database: ', db_name, ' File: ', correct_path, ' Complete!'', 0, 0) WITH NOWAIT

			')
		FROM (
			SELECT base_path = IIF(type = 1, dbo.udf_dba_pathfordblogs(), dbo.udf_dba_pathfordbdata())
				, db_name = DB_NAME(database_id)
				, type_name = IIF(type = 1, 'log', NULL)
				, file_ordinal = RIGHT(CONCAT('0', ROW_NUMBER() OVER (PARTITION BY database_id, type ORDER BY file_id ASC)), 2)
				, file_ext = IIF(type = 1, 'ldf', 'mdf')
				, name
				, current_path = physical_name
			FROM sys.master_files
			WHERE database_id > 4
		) G
		CROSS APPLY (
			SELECT correct_path = base_path + db_name + ISNULL('_' + type_name, '') + '_' + file_ordinal + '.' + file_ext
				, tmp_path = base_path + db_name + ISNULL('_' + type_name, '') + '_' + file_ordinal + '.tmp.' + file_ext
		) C
		OUTER APPLY sys.dm_os_enumerate_filesystem(dbo.udf_os_pathdir(current_path), '*.' + file_ext) F
		WHERE ( F.full_filesystem_path = current_path OR F.full_filesystem_path IS NULL )	
			AND ( correct_path <> current_path )
	) G

	PRINT @sql

END

GO
