USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_dba_findkeyrelationships] 
	@tablename SYSNAME
AS
BEGIN

	SELECT obj.name AS fk_name
		,sch1.name AS _sch
		,tab1.name AS _tbl
		,col1.name AS _col
		,sch2.name AS _ref_sch
		,tab2.name AS _ref_tbl
		,col2.name AS _ref_col
	FROM sys.foreign_key_columns fkc
	INNER JOIN sys.objects obj ON obj.object_id = fkc.constraint_object_id
	INNER JOIN sys.tables tab1 ON tab1.object_id = fkc.parent_object_id
	INNER JOIN sys.schemas sch1 ON tab1.schema_id = sch1.schema_id
	INNER JOIN sys.columns col1 ON col1.column_id = parent_column_id AND col1.object_id = tab1.object_id
	INNER JOIN sys.tables tab2 ON tab2.object_id = fkc.referenced_object_id
	INNER JOIN sys.columns col2 ON col2.column_id = referenced_column_id AND col2.object_id = tab2.object_id
	INNER JOIN sys.schemas sch2 ON tab1.schema_id = sch2.schema_id
	WHERE @tablename IN ( tab1.name ,tab2.name )

END
GO
