USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[usp_format_querytohtml] @sql NVARCHAR(MAX), @Html NVARCHAR(MAX) OUTPUT AS
BEGIN

	DROP TABLE IF EXISTS ##qthtmp
	CREATE TABLE ##qthtmp (# INT)

	SELECT @sql = '
		DROP TABLE IF EXISTS ##qthtmp
		CREATE TABLE ##qthtmp ([#] INT IDENTITY(1, 1), ' + 
		STRING_AGG(QUOTENAME(name) + ' ' + system_type_name, ', ')
		+ ') INSERT INTO ##qthtmp ' + @sql
	FROM sys.dm_exec_describe_first_result_set(@SQL, NULL, 1)
	WHERE is_hidden = 0

	EXEC ('DROP TABLE IF EXISTS ##qthtmp')
	EXEC (@sql)

	DECLARE @table_class VARCHAR(4) = LOWER(LEFT(NEWID(), 4))
	WHILE LEFT (@table_class, 1) LIKE '[0-9]'
		SET @table_class = LOWER(LEFT(NEWID(), 4))

	SELECT table_html = CONCAT('<style>
		table.' + @table_class + ' { border-collapse: collapse; font-family: arial,sans-serif; min-width: 50vw; } 
		table.' + @table_class + ' td, table.' + @table_class + ' th { padding: 2px 8px 2px 8px; } 
		table.' + @table_class + ' thead th { background-color: #4d5156; color: #ffffff; font-weight: bold; border: 1px solid black; } 
		table.' + @table_class + ' tfoot th { background-color: #4d5156; color: #ffffff; font-weight: bold; border: 1px solid black; } 
		table.' + @table_class + ' tbody td { color: grey; border: 1px solid grey; } 
		table.' + @table_class + ' tbody tr:nth-child(odd) { background-color: lightblue; }</style>'
		, '<table class="' + @table_class + '">'
		, CONCAT('<thead>', MAX(thead), '</thead>')
		, CONCAT('<tbody>', STRING_AGG(tr, ''), '</tbody>')
		, CONCAT('<tfoot>', MAX(thead), '</tfoot>')
		, '</table>')
	FROM ##qthtmp D
	CROSS APPLY (
		SELECT tr = CONCAT('<tr>', STRING_AGG(CONCAT('<td>', value, '</td>'), ''), '</tr>')
			, thead = CONCAT('<tr>', STRING_AGG(CONCAT('<th>', [key], '</th>'), ''), '</tr>')
		FROM OPENJSON((
			SELECT * 
			FROM ##qthtmp R 
			WHERE R.# = D.#
			FOR JSON PATH
				, WITHOUT_ARRAY_WRAPPER
				, INCLUDE_NULL_VALUES
		))
		WHERE [key] <> '#'
	) R


END
GO
