USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_dba_genjoinedquery
	Purpose: Generate a SELECT statement with LEFT JOINs for a table using FK relationships
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters: @tablename SYSNAME, @schemaname SYSNAME = 'dbo'
+
+
+    Returns: Prints generated SQL (caller should review before running)
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_dba_genjoinedquery] 
	@tablename SYSNAME
	, @schemaname SYSNAME = 'dbo'
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @SQL NVARCHAR(MAX) 
	SELECT @SQL = 'SELECT ' + STRING_AGG(JoinCols, CHAR(13) + CHAR(9) + ', ') + '
FROM [' + DB_NAME() + '].' + QUOTENAME(@schemaname) + '.' + QUOTENAME(@tablename) + '
' + STRING_AGG(CAST(JoinStr AS NVARCHAR(MAX)), CHAR(13))
	FROM (
		SELECT JoinSch
			, JoinTbl
			, JoinStr
			, JoinCols = (
			SELECT STRING_AGG(CAST(QUOTENAME(OBJECT_NAME(object_id)) 
				+ '.' + QUOTENAME(name) + ' AS ' +
				QUOTENAME(OBJECT_NAME(object_id) + name) AS NVARCHAR(MAX)), CHAR(13) + CHAR(9) + ', ')
			FROM sys.columns 
			WHERE object_id = OBJECT_ID(JoinSch + '.' + JoinTbl)
			)
		FROM (
			SELECT DISTINCT JoinTbl = tab1.name
				, JoinSch = sch1.name
				, JoinStr = 'LEFT JOIN [' + DB_NAME() + '].[' + sch1.name + '].[' + tab1.name + ']zzz
		ON [' + tab2.name + '].[' + col2.name + '] = [' + tab1.name + '].[' + col1.name + ']'
				, JoinCol = '[' + tab1.name + '].[' + col1.name + '] AS [' + tab1.name + col1.name + ']'
			FROM sys.foreign_key_columns fkc
			INNER JOIN sys.objects obj 
				ON obj.object_id = fkc.constraint_object_id
			INNER JOIN sys.tables tab1 
				ON tab1.object_id = fkc.parent_object_id
			INNER JOIN sys.schemas sch1 
				ON tab1.schema_id = sch1.schema_id
			INNER JOIN sys.columns col1 
				ON col1.column_id = parent_column_id
					AND col1.object_id = tab1.object_id
			INNER JOIN sys.tables tab2 
				ON tab2.object_id = fkc.referenced_object_id
			INNER JOIN sys.columns col2 
				ON col2.column_id = referenced_column_id
					AND col2.object_id = tab2.object_id
			INNER JOIN sys.schemas sch2 
				ON tab1.schema_id = sch2.schema_id
			WHERE tab2.name = 'Teams'
				AND tab2.schema_id = SCHEMA_ID(@schemaname)
		) JoinCols
		GROUP BY JoinSch
			, JoinTbl
			, JoinStr
	) Joins
	PRINT @SQL

END
GO
