USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_dba_createdsnlessmysqllinkedserver]
    @LinkedServerName SYSNAME,
    @MySQLHost VARCHAR(100),
    @MySQLPort INT = 3306,
    @MySQLDatabase VARCHAR(100),
    @Driver VARCHAR(200) = 'MySQL ODBC 8.0 Unicode Driver',
    @Provider VARCHAR(100) = 'MSDASQL',
    @ServerProduct VARCHAR(100) = 'MySQL',
    @RemoteUser VARCHAR(100),
    @RemotePassword VARCHAR(100),
    @CollationCompatible BIT = 0,
    @DataAccess BIT = 1,
    @Dist BIT = 0,
    @Pub BIT = 0,
    @Rpc BIT = 0,
    @RpcOut BIT = 0,
    @Sub BIT = 0,
    @ConnectTimeout INT = 0,
    @LazySchemaValidation BIT = 0,
    @QueryTimeout INT = 0,
    @UseRemoteCollation BIT = 1,
    @RemoteProcTxnPromo BIT = 1,
    @CollationName SYSNAME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CollationCompatibleStr VARCHAR(5) = IIF(@CollationCompatible = 1, 'true', 'false'),
        @DataAccessStr VARCHAR(5) = IIF(@DataAccess = 1, 'true', 'false'),
        @DistStr VARCHAR(5) = IIF(@Dist = 1, 'true', 'false'),
        @PubStr VARCHAR(5) = IIF(@Pub = 1, 'true', 'false'),
        @RpcStr VARCHAR(5) = IIF(@Rpc = 1, 'true', 'false'),
        @RpcOutStr VARCHAR(5) = IIF(@RpcOut = 1, 'true', 'false'),
        @SubStr VARCHAR(5) = IIF(@Sub = 1, 'true', 'false'),
        @ConnectTimeoutStr VARCHAR(10) = @ConnectTimeout,
        @LazySchemaValidationStr VARCHAR(5) = IIF(@LazySchemaValidation = 1, 'true', 'false'),
        @QueryTimeoutStr VARCHAR(10) = @QueryTimeout,
        @UseRemoteCollationStr VARCHAR(5) = IIF(@UseRemoteCollation = 1, 'true', 'false'),
        @RemoteProcTxnPromoStr VARCHAR(5) = IIF(@RemoteProcTxnPromo = 1, 'true', 'false')

    -- Drop existing linked server (and its logins) if it already exists
    IF EXISTS (
        SELECT 1
          FROM sys.servers
         WHERE name = @LinkedServerName
    )
    BEGIN
        EXEC master.dbo.sp_dropserver
            @server = @LinkedServerName,
            @droplogins = 'droplogins';
    END

    -- Build the ODBC connection string
    DECLARE @ProviderString NVARCHAR(4000) = 
        'DRIVER={' + @Driver + '};' +
        'SERVER=' + @MySQLHost + ';' +
        'PORT=' + CAST(@MySQLPort AS VARCHAR(10)) + ';' +
        'DATABASE=' + @MySQLDatabase + ';';

    -- Create the linked server entry
    EXEC master.dbo.sp_addlinkedserver
        @server = @LinkedServerName,
        @srvproduct = @ServerProduct,
        @provider = @Provider,
        @provstr = @ProviderString;

    -- Map local logins to the remote MySQL credentials
    EXEC master.dbo.sp_addlinkedsrvlogin
        @rmtsrvname = @LinkedServerName,
        @useself = N'False',
        @locallogin = NULL,
        @rmtuser = @RemoteUser,
        @rmtpassword = @RemotePassword;

    -- Configure all standard server options
    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'collation compatible',
        @optvalue = @CollationCompatibleStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'data access',
        @optvalue = @DataAccessStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'dist',
        @optvalue = @DistStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'pub',
        @optvalue = @PubStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'rpc',
        @optvalue = @RpcStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'rpc out',
        @optvalue = @RpcOutStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'sub',
        @optvalue = @SubStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'connect timeout',
        @optvalue = @ConnectTimeoutStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'collation name',
        @optvalue = @CollationName;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'lazy schema validation',
        @optvalue = @LazySchemaValidationStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'query timeout',
        @optvalue = @QueryTimeoutStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'use remote collation',
        @optvalue = @UseRemoteCollationStr;

    EXEC master.dbo.sp_serveroption 
        @server = @LinkedServerName,
        @optname = N'remote proc transaction promotion',
        @optvalue = @RemoteProcTxnPromoStr;

    -- Return a test query against the remote INFORMATION_SCHEMA.TABLES
    DECLARE @SQL NVARCHAR(MAX) =
        N'SELECT * FROM OPENQUERY('
        + QUOTENAME(@LinkedServerName)
        + N', ''SELECT * FROM INFORMATION_SCHEMA.TABLES'');';

    EXEC sp_executesql @SQL;

END

GO
