USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_dba_formatsqlapi
	Purpose: Send SQL to an external formatting API and return formatted SQL
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @sql_statement NVARCHAR(MAX) - SQL to format
+
+    @reindent BIT, @indent_width BIT, @identifier_case VARCHAR(32), @keyword_case VARCHAR(32), @strip_comments BIT - formatting options
+
+
+    Returns: Prints formatted SQL to output (or returns via print)
+
+
+    Notes:
+
+    - Calls external HTTP endpoint via sp_OA* (MSXML). Ensure network access and security review.
+
+
+    Dependencies:
+
+    - sp_OACreate, sp_OAMethod, sp_OADestroy
+
+
+    Security:
+
+    - OLE Automation endpoints should be enabled only in secure environments; avoid sending sensitive SQL to external services.
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_dba_formatsqlapi]
	@sql_statement NVARCHAR(MAX)
	, @reindent BIT = 0
	, @indent_width BIT = 1
	, @identifier_case VARCHAR(32) = 'upper'
	, @keyword_case VARCHAR(32) = 'upper'
	, @strip_comments BIT = 1
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @params NVARCHAR(MAX) = CONCAT(
		'reindent=', @reindent, '&',
		'indent_width=', @indent_width, '&',
		'identifier_case=', @identifier_case, '&',
		'keyword_case=', @keyword_case, '&',
		'strip_comments=', @strip_comments, '&',
		'sql=', @sql_statement 
		)

	DECLARE @Obj INT
		, @Response VARCHAR(8000)
		, @Result INT

	DECLARE @ResponseText TABLE (Response NVARCHAR(MAX))

	EXEC sp_OACreate 'Microsoft.XMLHTTP', @Obj OUT;
	EXEC sp_OAMethod @Obj, 'Open', NULL, 'POST', 'https://sqlformat.org/api/v1/format', 'false'
	EXEC sp_OAMethod @Obj, 'setRequestHeader', NULL, 'Content-Type', 'application/x-www-form-urlencoded'
	EXEC sp_OAMethod @Obj, 'Send', null, @params
	INSERT INTO @ResponseText EXEC sp_OAMethod @Obj, 'responseText'
	EXEC sp_OADestroy @Obj

	DECLARE @FormattedText NVARCHAR(MAX) = (
		SELECT JSON_VALUE(Response, '$.result')
		FROM @ResponseText
	)

	PRINT @FormattedText

END

GO
