USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Procedure Name: dbo.usp_os_writetempfile
	Purpose: Create a temporary file with supplied text in the server temp folder and return the file path
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @Text NVARCHAR(MAX) - content to write
+
+    @TmpFile VARCHAR(MAX) OUTPUT - path to created temp file
+
+    @FileExt VARCHAR(MAX) - extension to use (default 'tmp')
+
+
+    Returns: Path to created temp file
+
+
+    Notes:
+
+    - Uses FileSystemObject via sp_OA* to write files in the server temp directory.
+
+
+    Dependencies:
+
+    - sp_OACreate, sp_OAMethod, sp_OADestroy
+
+
+    Security:
+
+    - Creating files on the server is sensitive; restrict to administrators and clean up temp files after use.
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROC [dbo].[usp_os_writetempfile] @Text NVARCHAR(MAX), @TmpFile VARCHAR(MAX) = NULL OUT, @FileExt VARCHAR(MAX) = 'tmp' OUT
AS
BEGIN

SET NOCOUNT ON

DECLARE @Ole INT
    , @FileId INT
	, @TempDirObj INT
	, @TempDir VARCHAR(1000)
	
EXECUTE sp_oacreate 'Scripting.FileSystemObject', @Ole OUTPUT
EXECUTE sp_oagetproperty @Ole, 'GetSpecialFolder(2)', @TempDirObj OUT
EXECUTE sp_oagetproperty @TempDirObj, 'Path', @TempDir OUT

SET @TmpFile = @TempDir + '\' + LOWER(LEFT(NEWID(), 8)) + '.' + @FileExt

EXECUTE sp_oamethod @Ole, 'OpenTextFile', @FileId OUTPUT, @TmpFile, 2, 1
EXECUTE sp_oamethod @FileId, 'Write', NULL, @Text
EXECUTE sp_oadestroy @FileId
EXECUTE sp_oadestroy @Ole

PRINT 'Temp file ' + @TmpFile + ' created!'

END
GO
