USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Procedure Name: dbo.usp_http_request
    Purpose: Perform an HTTP request using MSXML2.XMLHTTP via OLE Automation and return the response
+
+
+    Project: T-SQL-Scripts
+
+
+    Date Created: 2025-10-15
+
+
+    Author: Ludwig Mark
+
+
+    Parameters:
+
+    @uri NVARCHAR(MAX) - request URL
+
+    @method NVARCHAR(10) - HTTP method (GET/POST/...)
+
+    @headersJson NVARCHAR(MAX) - headers as JSON object
+
+    @bodyJson NVARCHAR(MAX) - body (optional)
+
+
+    Returns: table with status and response text
+
+
+    Notes:
+
+    - Uses sp_OACreate and MSXML; ensure network and security policies permit outbound requests.
+
+
+    Dependencies:
+
+    - sp_OACreate, sp_OAMethod, sp_OADestroy
+
+
+    Security:
+
+    - Sending SQL or secrets over network is risky. Restrict usage to controlled contexts.
+
+
+    LICENSE: MIT
+
+------------------------------------------------------------------------------*/

CREATE   PROCEDURE [dbo].[usp_http_request] 
    @uri NVARCHAR(MAX),
    @method NVARCHAR(10), -- e.g., 'GET', 'POST', 'PUT', 'DELETE'
    @headersJson NVARCHAR(MAX),
    @bodyJson NVARCHAR(MAX)
AS
BEGIN

    DECLARE @result TABLE (
        status INT,
        response NVARCHAR(MAX),
        uri NVARCHAR(MAX),
        method NVARCHAR(10),
        headers NVARCHAR(MAX),
        body NVARCHAR(MAX)
    )

    DECLARE @object INT,
            @hr INT,
            @statusCode INT,
            @headerName NVARCHAR(255),
            @headerValue NVARCHAR(MAX),
            @line NVARCHAR(4000),
            @responseText NVARCHAR(MAX) = N'';

    -- Create the XMLHTTP object
    EXEC @hr = sp_OACreate 'MSXML2.XMLHTTP', @object OUT;
    IF @hr <> 0
    BEGIN
        INSERT INTO @result
        VALUES (-1, 'Failed to create XMLHTTP object', @uri, @method, @headersJson, @bodyJson);
        RETURN;
    END

    -- Open the request
    EXEC @hr = sp_OAMethod @object, 'open', NULL, @method, @uri, FALSE;
    IF @hr <> 0
    BEGIN
        INSERT INTO @result
        VALUES (-2, 'Failed to open HTTP request', @uri, @method, @headersJson, @bodyJson);
        RETURN;
    END

    -- Apply headers from JSON
    IF ISJSON(@headersJson) = 1
    BEGIN

        DECLARE @headers TABLE (name NVARCHAR(255), value NVARCHAR(MAX));
        INSERT INTO @headers (name, value)
        SELECT [key], value
        FROM OPENJSON(@headersJson);

        DECLARE header_cursor CURSOR FOR SELECT name, value FROM @headers;
        OPEN header_cursor;
        FETCH NEXT FROM header_cursor INTO @headerName, @headerValue;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC @hr = sp_OAMethod @object, 'setRequestHeader', NULL, @headerName, @headerValue;
            FETCH NEXT FROM header_cursor INTO @headerName, @headerValue;
        END
        CLOSE header_cursor;
        DEALLOCATE header_cursor;

    END

    -- Send the request with body (or NULL for GET/DELETE)
    IF @method IN ('GET', 'DELETE')
        EXEC @hr = sp_OAMethod @object, 'send', NULL, NULL;
    ELSE
        EXEC @hr = sp_OAMethod @object, 'send', NULL, @bodyJson;

    IF @hr <> 0
    BEGIN
        INSERT INTO @result
        VALUES (-3, 'Failed to send HTTP request', @uri, @method, @headersJson, @bodyJson);
        RETURN;
    END

    -- Get status code
    EXEC @hr = sp_OAGetProperty @object, 'status', @statusCode OUT;

    -- Create temp table to hold response lines
    DECLARE @responseLines TABLE (line NVARCHAR(MAX));
    
	INSERT INTO @responseLines ( line ) EXEC sp_OAMethod @object, 'responseText'

    SELECT @responseText = STRING_AGG(line, '') FROM @responseLines;

    -- Clean up
    EXEC sp_OADestroy @object;

    -- Return result
    INSERT INTO @result
    VALUES (@statusCode, @responseText, @uri, @method, @headersJson, @bodyJson);

    SELECT * FROM @result

END
GO
