USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Function Name: [dbo].[udf_array_extract]
    Purpose: Extracts a specific element from a delimited string array by its position
    
    Project: T-SQL-Scripts
    Date Created: 2025-10-14
    Author: Ludwig Mark
    
    Parameters:
    @input - NVARCHAR(MAX) - The source array string
    @delimiter - NCHAR(1) - Character that separates array elements
    @index - INT - 1-based position of the element to extract
    
    Returns: NVARCHAR(MAX)
    
    Notes:
    - Uses SQL Server's OFFSET-FETCH for position-based extraction
    - Trims whitespace from the extracted element
    - 1-based indexing (not 0-based)
    - Thread-safe and deterministic
    - Returns NULL if index is out of range
    
    Performance:
    - Execution time: O(n) where n is number of elements before target
    - Memory usage: Minimal, processes elements sequentially
    - Early termination once target element is found
    
    Dependencies:
    - Requires STRING_SPLIT function (SQL Server 2016+)
    - Requires OFFSET-FETCH capability (SQL Server 2012+)
    
    Example:
    ------------------------
    DECLARE @Array NVARCHAR(MAX) = 'A;B;C;D;E'
    DECLARE @Position INT = 3
    SELECT dbo.udf_array_extract(@Array, ';', @Position) AS ThirdElement
    
    Returns: 'C'
    
    Modification History:
    Date        Author      Description
    ----------  ----------  ------------------------------------------------
    2025-10-14  Ludwig M.   Initial creation
    
    Validation:
    - Returns NULL for out-of-range indexes
    - Returns NULL if @input is NULL
    - Handles empty strings between delimiters
    - Index must be positive integer
    
    LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_array_extract] (
	@input NVARCHAR(MAX)
	, @delimiter NCHAR(1)
	, @index INT
) RETURNS NVARCHAR(MAX) AS 
BEGIN


	RETURN (
		SELECT value = LTRIM(RTRIM(value))
		FROM STRING_SPLIT(@input, @delimiter)
		ORDER BY (SELECT 1)
		OFFSET (@index - 1) ROWS
		FETCH NEXT 1 ROW ONLY
	)


END
GO
