USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[udf_os_writefile] 
	(@FilePath VARCHAR(MAX), @Text NVARCHAR(MAX)) RETURNS BIT
AS
BEGIN
	-- Declare handles for OLE automation objects and IDs
	DECLARE @Ole INT, @FileId INT, @ParentDirectory VARCHAR(8000)

	-- Temporary table to hold all parent directories of the file path
	DECLARE @ParentDirectories TABLE (
		Id INT IDENTITY(1, 1),
		ParentDirectory VARCHAR(8000)
	)

	-- Build a list of parent directories from the file path using STRING_SPLIT
	;WITH ParentDirectories AS (
		SELECT Id = ROW_NUMBER() OVER (ORDER BY (SELECT 1) ASC),
			   Part = value + '\'
		FROM STRING_SPLIT(@FilePath, '\')
	)
	INSERT INTO @ParentDirectories
	SELECT ParentDirectory
	FROM ParentDirectories B
	CROSS APPLY (
		SELECT ParentDirectory = STRING_AGG(P.Part, '')
		FROM (
			SELECT TOP (B.Id) Part = Part,
				   MaxId = MAX(Id) OVER ()
			FROM ParentDirectories
		) P
		WHERE Id <> MaxId
	) P
	WHERE ParentDirectory IS NOT NULL

	-- Create FileSystemObject OLE object
	EXECUTE sp_OACreate 'Scripting.FileSystemObject', @Ole OUTPUT

	-- Ensure all parent directories exist (create them if missing)
	WHILE EXISTS (SELECT * FROM @ParentDirectories) 
	BEGIN
		SELECT TOP 1 @ParentDirectory = ParentDirectory 
		FROM @ParentDirectories ORDER BY Id ASC

		DELETE FROM @ParentDirectories 
		WHERE ParentDirectory = @ParentDirectory

		-- Create folder if it does not exist
		IF EXISTS (SELECT 1 FROM sys.dm_os_file_exists(@ParentDirectory) WHERE file_exists = 0)
			EXECUTE sp_OAMethod @Ole, 'CreateFolder', @ParentDirectory OUT, @ParentDirectory
	END

	-- Open or create the file for writing (mode=2, create=true)
	EXECUTE sp_OAMethod @Ole, 'OpenTextFile', @FileId OUTPUT, @FilePath, 2, 1
	EXECUTE sp_OAMethod @FileId, 'Write', NULL, @Text

	-- Cleanup OLE resources
	EXECUTE sp_OADestroy @FileId
	EXECUTE sp_OADestroy @Ole

	RETURN 1
END
GO
