USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[udf_string_urlquerystring](
    @url VARCHAR(2600)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    
    RETURN (                
        SELECT SUBSTRING(@url, LEN(value) + 2, LEN(@url) - LEN(value))
        FROM STRING_SPLIT(@url + '?', '?')
        WHERE SUBSTRING(@url, LEN(value) + 1, LEN(@url) - LEN(value)) LIKE '?%'
    )

END
GO
