USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Function Name: [dbo].[udf_string_titlecase]
    Purpose: Converts a string to title case (first letter of each word capitalized)
    
    Project: T-SQL-Scripts
    Date Created: 2025-10-14
    Author: Ludwig Mark
    
    Parameters:
    @input - NVARCHAR(MAX) - The string to convert to title case
    
    Returns: NVARCHAR(MAX)
    
    Notes:
    - Handles multiple types of word delimiters (space, tab, newline)
    - Unicode-aware implementation
    - Preserves original delimiters
    - Thread-safe and deterministic
    - Case-aware for proper capitalization rules
    
    Performance:
    - Execution time: O(n) where n is string length
    - Memory usage: Proportional to input length
    - Character-by-character processing
    
    Dependencies:
    - No external dependencies
    - Uses standard T-SQL string functions
    
    Example:
    ------------------------
    DECLARE @Text NVARCHAR(MAX) = 'hello world. this IS a TEST'
    SELECT dbo.udf_string_titlecase(@Text) AS TitleCase
    
    Returns: 'Hello World. This Is A Test'
    
    Modification History:
    Date        Author      Description
    ----------  ----------  ------------------------------------------------
    2025-10-14  Ludwig M.   Initial creation
    
    Validation:
    - Returns NULL if input is NULL
    - Preserves whitespace and special characters
    - Handles multiple consecutive delimiters
    - Properly processes Unicode characters
    
    Delimiters Handled:
    - Space (ASCII 32)
    - Tab (ASCII 9)
    - Carriage return (ASCII 13)
    - Line feed (ASCII 10)
    - Non-breaking space (ASCII 160)
    
    LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_string_titlecase] (@input NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
	DECLARE @index INT
	DECLARE @length INT
	DECLARE @char NCHAR(1)
	DECLARE @forward BIT
	DECLARE @output VARCHAR(255)
	DECLARE @delimiters VARCHAR(10)

	SET @delimiters = '[' + CHAR(13) + CHAR(10) + CHAR(9) + CHAR(160) + ' ' + ']'
	SET @index = 1
	SET @length = LEN(@input)
	SET @forward = 1
	SET @output = ''

	WHILE @index <= @length
	BEGIN
		SET @char = SUBSTRING(@input, @index, 1)

		IF @forward = 1
		BEGIN
			SET @output = @output + UPPER(@char)
			SET @forward = 0
		END
		ELSE
		BEGIN
			SET @output = @output + LOWER(@char)
		END

		IF @char LIKE @delimiters
			SET @forward = 1
		SET @index = @index + 1
	END

	RETURN IIF(@input IS NULL, NULL, @output)
	
END
GO
