USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[udf_hex_diff] (@hexa CHAR(5), @hexb CHAR(5))
RETURNS DECIMAL(18, 10)
AS 
BEGIN
    RETURN (
		SELECT SQRT((X.R-Y.R)*(X.R-Y.R) +
			(X.G-Y.G)*(X.G-Y.G) +
			(X.B-Y.B)*(X.B-Y.B))
		FROM dbo.udtf_hex_torgb(@hexa) X
		OUTER APPLY dbo.udtf_hex_torgb(@hexb) Y
    )
END
GO
