USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Function Name: [dbo].[udf_os_tempfile]
    Purpose: Generates a unique temporary file path using Windows FSO
    
    Project: T-SQL-Scripts
    Date Created: 2025-10-14
    Author: Ludwig Mark
    
    Parameters: None
    Returns: VARCHAR(2048)
    
    Notes:
    - Uses Scripting.FileSystemObject COM object
    - Combines system temp path with unique filename
    - Does not create the file, only generates the path
    - Thread-safe but non-deterministic
    - Requires Ole Automation procedures to be enabled
    
    Performance:
    - Execution time: ~5-10ms (COM object initialization)
    - Memory usage: Minimal
    - Creates and destroys COM object per call
    
    Dependencies:
    - Requires dbo.udf_os_temppath function
    - Requires Ole Automation procedures (sp_configure)
    - Requires Scripting.FileSystemObject COM object
    - Requires appropriate SQL Server service account permissions
    
    Example:
    ------------------------
    DECLARE @TempFilePath VARCHAR(2048)
    SELECT @TempFilePath = dbo.udf_os_tempfile()
    SELECT @TempFilePath AS GeneratedPath
    
    Returns: 'C:\Windows\Temp\rad1A2B3.tmp' (example)
    
    Modification History:
    Date        Author      Description
    ----------  ----------  ------------------------------------------------
    2025-10-14  Ludwig M.   Initial creation
    
    Validation:
    - Returns valid Windows file path
    - Path always points to system temp directory
    - Filename is guaranteed unique at generation time
    - Maximum path length respected (2048)
    
    Security:
    - Requires UNSAFE assembly permission
    - Consider using xp_cmdshell alternative in restricted environments
    - Validate output before using in file operations
    
    LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_os_tempfile]() 
RETURNS VARCHAR(2048)
AS
BEGIN

	DECLARE @Ole INT
		, @TempDir VARCHAR(2048)
		, @TempPath VARCHAR(2048)

	SELECT @TempDir = dbo.udf_os_temppath()

	EXECUTE sp_OACreate 'Scripting.FileSystemObject', @Ole OUTPUT
	EXECUTE sp_OAMethod @Ole, 'GetTempName', @TempPath OUTPUT

	EXECUTE sp_OADestroy @Ole

	RETURN (@TempDir + '\' + @TempPath)

END
GO
