USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Function Name: [dbo].[udf_array_include]
	Purpose: Returns the intersection of elements between two delimited string arrays
    
	Project: T-SQL-Scripts
	Date Created: 2025-10-15
	Author: Ludwig Mark
    
	Parameters:
	@input - NVARCHAR(MAX) - Source array string
	@include - NVARCHAR(MAX) - Array string containing elements to include
	@delimiter - NCHAR(1) - Delimiter character between elements
    
	Returns: NVARCHAR(MAX)
    
	Notes:
	- Trims whitespace from values before comparison
	- Uses set intersection semantics (INTERSECT)
	- Order of returned elements is not guaranteed
	- Thread-safe and deterministic
    
	Performance:
	- Execution time: O(n log n) depending on set sizes
	- Memory usage: Proportional to number of elements
    
	Dependencies:
	- Requires STRING_SPLIT (SQL Server 2016+)
	- Requires STRING_AGG (SQL Server 2017+)
    
	Example:
	------------------------
	SELECT dbo.udf_array_include('A;B;C;D', 'B;C;E', ';') AS Intersection
    
	Returns: 'B;C'
    
	Modification History:
	Date        Author      Description
	----------  ----------  ------------------------------------------------
	2025-10-15  Ludwig M.   Initial creation
    
	Validation:
	- Returns NULL if @input is NULL
	- Handles empty elements correctly
    
	LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_array_include] (
	@input NVARCHAR(MAX)
	, @include NVARCHAR(MAX)
	, @delimiter NCHAR(1)
) RETURNS NVARCHAR(MAX) AS 
BEGIN

	RETURN (
		SELECT STRING_AGG(value, @delimiter)
		FROM (
			SELECT value = LTRIM(RTRIM(value))
			FROM STRING_SPLIT(@input, @delimiter)
			INTERSECT
			SELECT value = LTRIM(RTRIM(value))
			FROM STRING_SPLIT(@include, @delimiter)
		) P
	)

END
GO
