/*------------------------------------------------------------------------------
    Function Name: [dbo].[udf_array_unique_sort]
    Purpose: Returns a delimited string containing the unique elements from the input array, sorted
    
    Project: T-SQL-Scripts
    Date Created: 2025-10-15
    Author: Ludwig Mark
    
    Parameters:
    @input - NVARCHAR(MAX) - Source array string
    @delimiter - NCHAR(1) - Delimiter character between elements
    
    Returns: NVARCHAR(MAX)
    
    Notes:
    - Trims whitespace, removes duplicates and returns elements ordered by value
    - Order is case-sensitive depending on database collation
    - Thread-safe and deterministic
    
    Performance:
    - Execution time: O(n log n) due to sorting
    - Memory usage: Proportional to number of elements
    
    Dependencies:
    - Requires STRING_SPLIT (SQL Server 2016+)
    - Requires STRING_AGG (SQL Server 2017+)
    
    Example:
    ------------------------
    SELECT dbo.udf_array_unique_sort('b;A;c;d;A;b', ';') AS UniqueSorted
    
    Returns: 'A;b;c;d' (depending on collation)
    
    Modification History:
    Date        Author      Description
    ----------  ----------  ------------------------------------------------
    2025-10-15  Ludwig M.   Initial creation

	)

END
GO
USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[udf_array_unique_sort] (
	@input NVARCHAR(MAX)
	, @delimiter NCHAR(1)
) RETURNS NVARCHAR(MAX) AS 
BEGIN


	RETURN (
		SELECT STRING_AGG(value, @delimiter)
		FROM (
			SELECT DISTINCT value
			FROM (
				SELECT TOP (100) PERCENT value = LTRIM(RTRIM(value))
				FROM STRING_SPLIT(@input, @delimiter)
				ORDER BY value
			) P
		) P
	)


END
GO
