USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Function Name: [dbo].[udf_array_splice]
	Purpose: Returns a contiguous slice (sub-array) from a delimited string array
    
	Project: T-SQL-Scripts
	Date Created: 2025-10-15
	Author: Ludwig Mark
    
	Parameters:
	@input - NVARCHAR(MAX) - Source array string
	@delimiter - NCHAR(1) - Delimiter character between elements
	@start_index - INT - 1-based starting position
	@length - INT - Number of elements to return
    
	Returns: NVARCHAR(MAX)
    
	Notes:
	- Uses OFFSET-FETCH for positional slicing
	- 1-based indexing for start position
	- Trims whitespace from elements
	- Returns empty string if length = 0
    
	Performance:
	- Execution time: O(n) where n is number of elements before start_index
	- Memory usage: Proportional to number of returned elements
    
	Dependencies:
	- Requires STRING_SPLIT (SQL Server 2016+)
	- Requires OFFSET-FETCH (SQL Server 2012+)
    
	Example:
	------------------------
	SELECT dbo.udf_array_splice('A;B;C;D;E', ';', 2, 2) AS Splice
    
	Returns: 'B;C'
    
	Modification History:
	Date        Author      Description
	----------  ----------  ------------------------------------------------
	2025-10-15  Ludwig M.   Initial creation
    
	Validation:
	- Returns NULL if @input is NULL
	- Start index must be >= 1
	- Handles out-of-range start_index by returning no rows
    
	LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_array_splice] (
	@input NVARCHAR(MAX)
	, @delimiter NCHAR(1)
	, @start_index INT
	, @length INT
) RETURNS NVARCHAR(MAX) AS 
BEGIN

	RETURN (
		SELECT STRING_AGG(value, @delimiter)
		FROM (
			SELECT value = LTRIM(RTRIM(value))
			FROM STRING_SPLIT(@input, @delimiter)
			ORDER BY (SELECT 1)
			OFFSET (@start_index - 1) ROWS
			FETCH NEXT (@length) ROWS ONLY
		) P
	)

END
GO
USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[udf_array_splice] (
	@input NVARCHAR(MAX)
	, @delimiter NCHAR(1)
	, @start_index INT
	, @length INT
) RETURNS NVARCHAR(MAX) AS 
BEGIN

	RETURN (
		SELECT STRING_AGG(value, @delimiter)
		FROM (
			SELECT value = LTRIM(RTRIM(value))
			FROM STRING_SPLIT(@input, @delimiter)
			ORDER BY (SELECT 1)
			OFFSET (@start_index - 1) ROWS
			FETCH NEXT (@length) ROWS ONLY
		) P
	)

END
GO
