USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Function Name: [dbo].[udf_os_pathext]
	Purpose: Extracts the file extension (without dot) from a full file path or filename
    
	Project: T-SQL-Scripts
	Date Created: 2025-10-15
	Author: Ludwig Mark
    
	Parameters:
	@fullpath - NVARCHAR(2600) - Full path or filename
    
	Returns: VARCHAR(10)
    
	Notes:
	- Returns extension without leading dot
	- If no extension present, returns the full string to the left of the last dot logic may return unexpected results; validate input
	- Thread-safe and deterministic
    
	Example:
	------------------------
	SELECT dbo.udf_os_pathext('C:\folder\file.tar.gz') AS Ext
    
	Returns: 'gz'
    
	Validation:
	- Returns NULL if @fullpath is NULL
    
	LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_os_pathext] (@fullpath NVARCHAR(2600))
RETURNS VARCHAR(10)
AS
BEGIN

	RETURN RIGHT(@fullpath, CHARINDEX('.', REVERSE(@fullpath)) - 1);

END

GO
