USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[udf_os_temppath]()
RETURNS VARCHAR(2600)
AS
BEGIN

	DECLARE @Ole INT
		, @FileId INT
		, @TempDirObj INT
		, @TempPath VARCHAR(2600)
	
	EXECUTE sp_OACreate 'Scripting.FileSystemObject', @Ole OUTPUT
	EXECUTE sp_OAGetProperty @Ole, 'GetSpecialFolder(2)', @TempDirObj OUT
	EXECUTE sp_OAGetProperty @TempDirObj, 'Path', @TempPath OUT
    EXEC sp_OADestroy @TempDirObj;
    EXEC sp_OADestroy @Ole;

	RETURN @TempPath

END

GO
