USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Function Name: [dbo].[udf_array_unique]
	Purpose: Removes duplicate elements from a delimited string array
    
	Project: T-SQL-Scripts
	Date Created: 2025-10-15
	Author: Ludwig Mark
    
	Parameters:
	@input - NVARCHAR(MAX) - Source array string
	@delimiter - NCHAR(1) - Delimiter character between elements
    
	Returns: NVARCHAR(MAX)
    
	Notes:
	- Trims whitespace and removes duplicate elements
	- Order of elements in the result is not guaranteed
	- Thread-safe and deterministic
    
	Dependencies:
	- Requires STRING_SPLIT (SQL Server 2016+)
	- Requires STRING_AGG (SQL Server 2017+)
    
	Example:
	------------------------
	SELECT dbo.udf_array_unique('A;B;A;C;B', ';') AS Unique
    
	Returns: 'A;B;C'
    
	Modification History:
	Date        Author      Description
	----------  ----------  ------------------------------------------------
	2025-10-15  Ludwig M.   Initial creation
    
	Validation:
	- Returns NULL if @input is NULL
	- Handles empty elements correctly
    
	LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_array_unique] (
	@input NVARCHAR(MAX)
	, @delimiter NCHAR(1)
) RETURNS NVARCHAR(MAX) AS 
BEGIN


	RETURN (
		SELECT STRING_AGG(value, @delimiter)
		FROM (
			SELECT DISTINCT value = LTRIM(RTRIM(value))
			FROM STRING_SPLIT(@input, @delimiter)
		) P
	)


END
GO
