USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Function Name: [dbo].[udf_array_last]
	Purpose: Returns the last element from a delimited string array
    
	Project: T-SQL-Scripts
	Date Created: 2025-10-15
	Author: Ludwig Mark
    
	Parameters:
	@input - NVARCHAR(MAX) - Source array string
	@delimiter - NCHAR(1) - Delimiter character between elements
    
	Returns: NVARCHAR(MAX)
    
	Notes:
	- Uses string reversal technique to obtain last element efficiently
	- Trims whitespace from result
	- Thread-safe and deterministic
    
	Performance:
	- Execution time: O(n) where n is length of input
	- Memory usage: Minimal
    
	Dependencies:
	- Requires STRING_SPLIT (SQL Server 2016+)
    
	Example:
	------------------------
	SELECT dbo.udf_array_last('A;B;C;D', ';') AS LastElement
    
	Returns: 'D'
    
	Modification History:
	Date        Author      Description
	----------  ----------  ------------------------------------------------
	2025-10-15  Ludwig M.   Initial creation
    
	Validation:
	- Returns NULL if @input is NULL
	- Handles trailing delimiters and empty elements
    
	LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_array_last] (
	@input NVARCHAR(MAX)
	, @delimiter NCHAR(1)
) RETURNS NVARCHAR(MAX) AS 
BEGIN

	RETURN (
		SELECT TOP 1 value = REVERSE(LTRIM(RTRIM(value)))
		FROM STRING_SPLIT(REVERSE(@input), @delimiter)
	)

END
GO
