USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Function Name: [dbo].[udf_os_pathbasename]
    Purpose: Extracts the base filename (without extension) from a full file path
    
    Project: T-SQL-Scripts
    Date Created: 2025-10-14
    Author: Ludwig Mark
    
    Parameters:
    @fullpath - NVARCHAR(2600) - Complete file path to process
    
    Returns: VARCHAR(2600)
    
    Notes:
    - Handles Windows-style paths with backslashes
    - Returns filename portion without extension
    - Maximum path length matches Windows MAX_PATH
    - Thread-safe and deterministic
    - No file system access required
    
    Performance:
    - Execution time: O(n) where n is path length
    - Memory usage: Minimal, string operations only
    - Uses built-in string functions
    
    Dependencies:
    - No external dependencies
    - Uses standard T-SQL string functions only
    
    Example:
    ------------------------
    SELECT dbo.udf_os_pathbasename('C:\folder\subfolder\myfile.txt') AS BaseName
    
    Returns: 'myfile'
    
    Modification History:
    Date        Author      Description
    ----------  ----------  ------------------------------------------------
    2025-10-14  Ludwig M.   Initial creation
    
    Validation:
    - Returns NULL if input is NULL
    - Handles paths without extensions
    - Works with Unicode characters
    - Processes both relative and absolute paths
    
    LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_os_pathbasename] (@fullpath NVARCHAR(2600))
RETURNS VARCHAR(2600)
AS
BEGIN

	RETURN LEFT(RIGHT(@fullpath, CHARINDEX('\', REVERSE(@fullpath)) - 1)
		, CHARINDEX('.', RIGHT(@fullpath, CHARINDEX('\', REVERSE(@fullpath)))) - 2)

END

GO
