USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[udf_os_pathdir] (@fullpath NVARCHAR(2600))
RETURNS VARCHAR(2600)
AS
BEGIN

	RETURN (
		SELECT STRING_AGG(path_part, '\') + '\'
		FROM (
			SELECT path_part = value
				, ordinal = ROW_NUMBER() OVER (ORDER BY (SELECT 1))
			FROM STRING_SPLIT(@fullpath, '\')
			WHERE LEN(value) > 0
		) G
		WHERE NOT (SELECT COUNT(*) FROM STRING_SPLIT(@fullpath, '\') WHERE LEN(value) > 0) = ordinal
	);

END

GO
