USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
    Function: dbo.udf_arrayel_element

    Summary:
    This function retrieves a specific element from an array string based on the index and delimiter.

    Inputs:
    @array - NVARCHAR(MAX) - The input array string.
    @delim - NVARCHAR(MAX) - The delimiter used to separate elements in the array string.
    @index - INT - The index of the element to retrieve.

    Output:
    NVARCHAR(MAX) - The element at the specified index.

    Example Usage:
    SELECT dbo.udf_arrayel_element('A;B;C;D;E;F•G;H;I', ';', 2);
    -- Expected output: 'B'
*/

-- Create or alter the function dbo.udf_arrayel_element
CREATE   FUNCTION [dbo].[udf_arrayel_element](
    @array NVARCHAR(MAX),
    @delim NVARCHAR(MAX),
    @index INT
)
RETURNS NVARCHAR(MAX)
AS 
BEGIN
    RETURN (
        SELECT element
        FROM (
            -- Generate a series of characters from NCHAR(1) to NCHAR(65500)
            SELECT TOP 1 c
            FROM (
                SELECT TOP 65500 c = NCHAR(ROW_NUMBER() OVER (ORDER BY (SELECT 1)))
                FROM sys.all_columns a CROSS APPLY sys.all_columns b
            ) c
            -- Check if each character from the generated series is not present in @array
            WHERE CHARINDEX(c, @array) = 0
        ) c
        -- Replace the delimiter in @array with the character that was not found in @array
        CROSS APPLY (
            SELECT array_str_delim_string = REPLACE(@array, @delim, c)
        ) escape_delim_string
        -- Split the modified @array by the replacement character and calculate the number of elements
        CROSS APPLY (
            SELECT 
                ordinal = ROW_NUMBER() OVER (ORDER BY (SELECT 1)),
                element = value,
                length = COUNT(*) OVER (ORDER BY (SELECT 1))
            FROM string_split(array_str_delim_string, c) split_escaped_array
        ) split_escaped_array_string
        WHERE ordinal = @index
    )
END
GO
