USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[udf_format_json](@JSON NVARCHAR(MAX), @IndentDepth INT)
RETURNS NVARCHAR(MAX) AS 
BEGIN

	DECLARE @type TINYINT = (
		SELECT [type] 
		FROM OPENJSON('[' + @JSON + ']') 
		WHERE [key] = 0
	)
	
	DECLARE @s NCHAR(2)
	DECLARE @e NCHAR(2)
	IF @type = 5 BEGIN

		SET @s = '{' + NCHAR(10)
		SET @e = CHAR(10) + '}'

	END ELSE IF @type = 4 BEGIN

		SET @s = '[' + NCHAR(10)
		SET @e = NCHAR(10) + ']'

	END ELSE BEGIN
	
		RETURN @JSON

	END
	
		RETURN (
			SELECT STRING_AGG(
					REPLICATE(
						CHAR(9)
						, IIF(i = 1, 0, @IndentDepth + IIF(t > i AND i > 1, 1, 0))
					) 
					+ v, NCHAR(10)
				)
			FROM (
				SELECT i = ROW_NUMBER() OVER (ORDER BY (SELECT 1))
					, v = value
					, t = COUNT(*) OVER (ORDER BY (SELECT 1))
				FROM STRING_SPLIT((
					SELECT @s + STRING_AGG(Element, NCHAR(10) + ',') + @e
					FROM OPENJSON(@JSON)
					CROSS APPLY ( 
						SELECT Element = CONCAT(
							IIF(ISNUMERIC([key]) = 1, '', CONCAT(QUOTENAME([key], '"'), ': '))
							, IIF(type IN (0, 1, 2, 3), QUOTENAME(value, '"'), dbo.udf_format_json(value, @IndentDepth))
							)
					) E
				), NCHAR(10))
			) _
		)


	RETURN NULL

END
GO
