USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[udf_dba_objectfullname](
 @objectid INT
) RETURNS SYSNAME
BEGIN

 DECLARE @fullname SYSNAME

 return (
	  SELECT CONCAT(
	   QUOTENAME(@@SERVERNAME), '.',
	   QUOTENAME(DB_NAME()), '.',
	   QUOTENAME(SCHEMA_NAME([schema_id])),'.',
	   QUOTENAME([name])
	  )
	 FROM SYS.TABLES
	 WHERE object_id = @objectid
 )
END
GO
