USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Function Name: [dbo].[udf_dba_pathfordbdata]
	Purpose: Returns the most common data file directory used by the server
    
	Project: T-SQL-Scripts
	Date Created: 2025-10-15
	Author: Ludwig Mark
    
	Parameters: None
	Returns: VARCHAR(2600)
    
	Notes:
	- Inspects sys.master_files for type=0 (data files) and returns the most frequent directory
	- Useful for recommending default paths for new database data files
    
	Dependencies:
	- Requires VIEW SERVER STATE or adequate permissions to query sys.master_files
	- Relies on dbo.udf_os_pathdir
    
	Example:
	------------------------
	SELECT dbo.udf_dba_pathfordbdata() AS DefaultDataPath
    
	Returns: 'C:\MSSQL\DATA\' (example)
    
	Validation:
	- Returns NULL if no data files found
    
	LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_dba_pathfordbdata] ()
RETURNS VARCHAR(2600)
AS
BEGIN

	RETURN (	
		SELECT path_dir
		FROM (
			SELECT path_dir
				, freq = ROW_NUMBER() OVER (
					ORDER BY ordinal DESC
				)
			FROM (
				SELECT path_dir = dbo.udf_os_pathdir(physical_name)
					, ordinal = COUNT(*)
				FROM sys.master_files
				WHERe type = 0
				GROUP BY dbo.udf_os_pathdir(physical_name)
			) G
		) F
		WHERE freq = 1
	)

END

GO
