USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
    Function: dbo.udf_array_first

    Summary:
    This function returns the first element from a delimited array string.

    Inputs:
    @input - NVARCHAR(MAX) - The input array string
    @delimiter - NCHAR(1) - The delimiter used to separate elements in the array

    Output:
    NVARCHAR(MAX) - The first element in the array, or NULL if the array is empty

    Example Usage:
    SELECT dbo.udf_array_first('A;B;C;D;E', ';') AS FirstElement
    -- Expected output: 'A'
*/

CREATE   FUNCTION [dbo.udf_array_first] (
	@input NVARCHAR(MAX)
	, @delimiter NCHAR(1)
) RETURNS NVARCHAR(MAX) AS 
BEGIN

	RETURN (
		SELECT TOP 1 value = LTRIM(RTRIM(value))
		FROM STRING_SPLIT(@input, @delimiter)
	)

END
GO
