USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[udf_array_sort] (
	@input NVARCHAR(MAX)
	, @delimiter NCHAR(1)
) RETURNS NVARCHAR(MAX) AS 
BEGIN


	RETURN (
		SELECT STRING_AGG(value, @delimiter) WITHIN GROUP (ORDER BY value)
		FROM (
			SELECT TOP (100) PERCENT value = LTRIM(RTRIM(value))
			FROM STRING_SPLIT(@input, @delimiter)
			ORDER BY value
		) P
	)


END
GO
