USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Function Name: [dbo].[udf_dba_genjoinedquery]
	Purpose: Generates a SELECT statement with LEFT JOINs based on foreign key relationships for a table
    
	Project: T-SQL-Scripts
	Date Created: 2025-10-15
	Author: Ludwig Mark
    
	Parameters:
	@tablename - SYSNAME - Table name to generate joins for
	@schemaname - SYSNAME - Schema name containing the table
    
	Returns: NVARCHAR(MAX) - A generated SELECT statement
    
	Notes:
	- Produces a SELECT list of columns from the base table and LEFT JOINs to related tables based on foreign keys
	- Useful for quickly inspecting related data across joined tables
	- The generated SQL is a convenience helper and should be reviewed before execution
    
	Performance:
	- Execution time: Variable depending on number of foreign keys and columns
	- Memory usage: Proportional to metadata size
    
	Dependencies:
	- Requires access to system catalog views (sys.foreign_key_columns, sys.tables, sys.columns, etc.)
    
	Example:
	------------------------
	SELECT dbo.udf_dba_genjoinedquery('Orders', 'dbo') AS JoinSQL
    
	Returns: A multi-line SELECT statement with LEFT JOINs to related tables
    
	Validation:
	- Returns NULL if table not found or no columns
	- Caller should validate and optionally parameterize the output before execution
    
	LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_dba_genjoinedquery] 
	( @tablename SYSNAME
	, @schemaname SYSNAME )
RETURNS NVARCHAR(MAX)
AS
BEGIN

	DECLARE @SQL NVARCHAR(MAX) 
	SELECT @SQL = 'SELECT ' + STRING_AGG(JoinCols, CHAR(13) + CHAR(9) + ', ') + '
FROM [' + DB_NAME() + '].' + QUOTENAME(@schemaname) + '.' + QUOTENAME(@tablename) + ISNULL('
' + STRING_AGG(CAST(JoinStr AS NVARCHAR(MAX)), CHAR(13)), '')
	FROM (
		SELECT JoinSch
			, JoinTbl
			, JoinStr
			, JoinCols = (
			SELECT STRING_AGG(CAST(QUOTENAME(OBJECT_NAME(object_id)) 
				+ '.' + QUOTENAME(name) + ' AS ' +
				QUOTENAME(OBJECT_NAME(object_id) + name) AS NVARCHAR(MAX)), CHAR(13) + CHAR(9) + ', ')
			FROM sys.columns 
			WHERE object_id = OBJECT_ID(JoinSch + '.' + JoinTbl)
			)
		FROM (
			SELECT DISTINCT JoinTbl = tab1.name
				, JoinSch = sch1.name
				, JoinStr = 'LEFT JOIN [' + DB_NAME() + '].[' + sch1.name + '].[' + tab1.name + ']
	ON [' + tab2.name + '].[' + col2.name + '] = [' + tab1.name + '].[' + col1.name + ']'
				, JoinCol = '[' + tab1.name + '].[' + col1.name + '] AS [' + tab1.name + col1.name + ']'
			FROM sys.foreign_key_columns fkc
			INNER JOIN sys.objects obj 
				ON obj.object_id = fkc.constraint_object_id
			INNER JOIN sys.tables tab1 
				ON tab1.object_id = fkc.parent_object_id
			INNER JOIN sys.schemas sch1 
				ON tab1.schema_id = sch1.schema_id
			INNER JOIN sys.columns col1 
				ON col1.column_id = parent_column_id
					AND col1.object_id = tab1.object_id
			INNER JOIN sys.tables tab2 
				ON tab2.object_id = fkc.referenced_object_id
			INNER JOIN sys.columns col2 
				ON col2.column_id = referenced_column_id
					AND col2.object_id = tab2.object_id
			INNER JOIN sys.schemas sch2 
				ON tab1.schema_id = sch2.schema_id
			WHERE ( tab2.name = @tablename
				AND tab2.schema_id = SCHEMA_ID(@schemaname) )
				OR ( tab1.name = @tablename
				AND tab1.schema_id = SCHEMA_ID(@schemaname) )

		) JoinCols
		GROUP BY JoinSch
			, JoinTbl
			, JoinStr
	) Joins
	IF @SQL IS NULL BEGIN
		SELECT @SQL = 'SELECT ' + STRING_AGG(JoinCols, CHAR(13) + CHAR(9) + ', ') + '
FROM [' + DB_NAME() + '].' + QUOTENAME(@schemaname) + '.' + QUOTENAME(@tablename)
		FROM (
			SELECT JoinCols = STRING_AGG(CAST(QUOTENAME(OBJECT_NAME(object_id)) 
				+ '.' + QUOTENAME(name) + ' AS ' +
				QUOTENAME(OBJECT_NAME(object_id) + name) AS NVARCHAR(MAX)), CHAR(13) + CHAR(9) + ', ')
			FROM sys.columns 
			WHERE object_id = OBJECT_ID(QUOTENAME(@schemaname) + '.' + QUOTENAME(@tablename))
		) C
	END
	RETURN @SQL

END
GO
