USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
	Function Name: [dbo].[udf_os_tempfile_ticks]
	Purpose: Generates a short unique filename-like token using GETDATE() ticks
    
	Project: T-SQL-Scripts
	Date Created: 2025-10-15
	Author: Ludwig Mark
    
	Parameters:
	@prefix - VARCHAR(255) - Optional prefix to prepend to generated token
	@ext - VARCHAR(5) - File extension or suffix to append (default 'tmp')
    
	Returns: VARCHAR(260)
    
	Notes:
	- Not cryptographically secure; intended for simple temporary naming
	- Guarantees 12-character token derived from GETDATE() millisecond parts
	- Thread-safe but may collide under extremely high call volume
    
	Example:
	------------------------
	SELECT dbo.udf_os_tempfile_ticks('prefix', 'tmp') AS TempName
    
	Returns: 'prefix_123456789.tmp' (example)
    
	Modification History:
	Date        Author      Description
	----------  ----------  ------------------------------------------------
	2025-10-15  Ludwig M.   Initial creation
    
	Validation:
	- Returns prefix + token + extension
	- Not intended for security-sensitive filenames
    
	LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_os_tempfile_ticks](@prefix VARCHAR(255), @ext VARCHAR(5))
RETURNS VARCHAR(260)
AS
BEGIN
	DECLARE @ticks VARCHAR(260) = ''
	WHILE (LEN(@ticks) != 12)
		SET @ticks = RIGHT(
		LEFT(    DATEPART(MILLISECOND, GETDATE()) *
				DATEPART(MILLISECOND, GETDATE()) *
				DATEPART(MILLISECOND, GETDATE()), 10) +
				'.' +
		ISNULL(@ext,'tmp'), 12)
	RETURN CONCAT(ISNULL(@prefix + '_', ''), @ticks)
END
GO
