USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[udf_dba_defineobject](@object_id BIGINT)
RETURNS XML
AS
BEGIN

	DECLARE @object_name SYSNAME = (SELECT name FROM sys.objects WHERE object_id = @object_id)
		, @schema_name SYSNAME = (SELECT S.name FROM sys.objects O JOIN sys.schemas S ON O.schema_id = S.schema_id WHERE O.object_id = @object_id)
		, @SQL NVARCHAR(MAX) = '/' + REPLICATE('*', 10) + ' OBJECT DEFINITION ' + REPLICATE('*', 16) + '/' + CHAR(13) + OBJECT_DEFINITION(@object_id)

	IF (@SQL IS NOT NULL) RETURN CONVERT(XML, (SELECT @SQL FOR XML PATH('')))

	SELECT @SQL = '/' + REPLICATE('*', 10) + ' OBJECT DEFINITION ' + REPLICATE('*', 16) + '/' + CHAR(13) + 'CREATE SYNONYM [' + @schema_name + '].[' + @object_name + '] FOR ' + base_object_name
	FROM sys.synonyms
	WHERE object_id = @object_id
	
	IF (@SQL IS NOT NULL) RETURN CONVERT(XML, (SELECT @SQL FOR XML PATH('')))

	;WITH indexes AS 
	(
		SELECT i.object_id
			, definition = 'CREATE ' + _unique_clause
			 + 'NONCLUSTERED INDEX ' + _index_name + ' ON ' + _table_name + ' (' + _new_line_tab
			 + STRING_AGG(_column_name + ' ' + _column_order, CHAR(13) + CHAR(10) + CHAR(9) + ', ') + _new_line + ')'
		FROM sys.indexes i
		JOIN sys.index_columns ic ON i.object_id = ic.object_id AND i.index_id = ic.index_id
		JOIN sys.columns c ON ic.object_id = c.object_id AND ic.column_id = c.column_id
		CROSS APPLY (
			SELECT _unique_clause = IIF(is_unique = 1, 'UNIQUE ', '')
				, _index_name = QUOTENAME(i.name)
				, _table_name = QUOTENAME(OBJECT_SCHEMA_NAME(i.object_id)) + '.' + QUOTENAME(OBJECT_NAME(i.object_id))
				, _column_name = QUOTENAME(c.name)
				, _column_order = IIF(ic.is_descending_key = 1, 'DESC', 'ASC')
				, _new_line = CHAR(13) + CHAR(10)
				, _new_line_tab = CHAR(13) + CHAR(10) + CHAR(9)
		) _parts
		GROUP BY _unique_clause
			, _table_name
			, _index_name
			, _new_line_tab
			, _new_line
			, i.object_id
	),
	fk_columns AS 
	(
			SELECT 
				k.constraint_object_id
			, cname = c.name
			, rcname = rc.name
		FROM sys.foreign_key_columns k WITH (NOWAIT)
		JOIN sys.columns rc WITH (NOWAIT) ON rc.[object_id] = k.referenced_object_id AND rc.column_id = k.referenced_column_id 
		JOIN sys.columns c WITH (NOWAIT) ON c.[object_id] = k.parent_object_id AND c.column_id = k.parent_column_id
		WHERE k.parent_object_id = @object_id
	)
	SELECT @SQL = '/' + REPLICATE('*', 10) + ' OBJECT DEFINITION ' + REPLICATE('*', 16) + '/' + CHAR(13) + 'CREATE TABLE [' + SCHEMA_NAME((SELECT schema_id FROM sys.objects WITH (NOWAIT) WHERE object_id = @object_id)) + '].[' + @object_name + '] (' + CHAR(13) + CHAR(9) + (
		SELECT STRING_AGG('[' + c.name + '] ' + 
			CASE WHEN c.is_computed = 1
				THEN 'AS ' + cc.[definition] 
				ELSE UPPER(tp.name) + 
					CASE WHEN tp.name IN ('varchar', 'char', 'varbinary', 'binary', 'text')
							THEN '(' + CASE WHEN c.max_length = -1 THEN 'MAX' ELSE CAST(c.max_length AS VARCHAR(5)) END + ')'
							WHEN tp.name IN ('nvarchar', 'nchar', 'ntext')
							THEN '(' + CASE WHEN c.max_length = -1 THEN 'MAX' ELSE CAST(c.max_length / 2 AS VARCHAR(5)) END + ')'
							WHEN tp.name IN ('datetime2', 'time2', 'datetimeoffset') 
							THEN '(' + CAST(c.scale AS VARCHAR(5)) + ')'
							WHEN tp.name = 'decimal' 
							THEN '(' + CAST(c.[precision] AS VARCHAR(5)) + ',' + CAST(c.scale AS VARCHAR(5)) + ')'
						ELSE ''
					END +
					CASE WHEN c.collation_name IS NOT NULL THEN ' COLLATE ' + c.collation_name ELSE '' END +
					CASE WHEN c.is_nullable = 1 THEN ' NULL' ELSE ' NOT NULL' END +
					CASE WHEN dc.[definition] IS NOT NULL THEN ' DEFAULT' + dc.[definition] ELSE '' END + 
					CASE WHEN ic.is_identity = 1 THEN ' IDENTITY(' + CAST(ISNULL(ic.seed_value, '0') AS CHAR(1)) + ',' + CAST(ISNULL(ic.increment_value, '1') AS CHAR(1)) + ')' ELSE '' END 
			END, CHAR(13) + CHAR(9) + ', ') WITHIN GROUP (ORDER BY c.column_id)
		FROM sys.columns c WITH (NOWAIT)
		JOIN sys.types tp WITH (NOWAIT) ON c.user_type_id = tp.user_type_id
		LEFT JOIN sys.computed_columns cc WITH (NOWAIT) ON c.[object_id] = cc.[object_id] AND c.column_id = cc.column_id
		LEFT JOIN sys.default_constraints dc WITH (NOWAIT) ON c.default_object_id != 0 AND c.[object_id] = dc.parent_object_id AND c.column_id = dc.parent_column_id
		LEFT JOIN sys.identity_columns ic WITH (NOWAIT) ON c.is_identity = 1 AND c.[object_id] = ic.[object_id] AND c.column_id = ic.column_id
		WHERE c.[object_id] = @object_id    
		)
		+ ISNULL((SELECT CHAR(13) + CHAR(9) + ', CONSTRAINT [' + k.name + '] PRIMARY KEY (' + 
						(SELECT STUFF((
								SELECT ', [' + c.name + '] ' + CASE WHEN ic.is_descending_key = 1 THEN 'DESC' ELSE 'ASC' END
								FROM sys.index_columns ic WITH (NOWAIT)
								JOIN sys.columns c WITH (NOWAIT) ON c.[object_id] = ic.[object_id] AND c.column_id = ic.column_id
								WHERE ic.is_included_column = 0
									AND ic.[object_id] = k.parent_object_id 
									AND ic.index_id = k.unique_index_id     
								FOR XML PATH(N''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, ''))
				+ ')' + CHAR(13)
				FROM sys.key_constraints k WITH (NOWAIT)
				WHERE k.parent_object_id = @object_id 
					AND k.[type] = 'PK'), '') + CHAR(13) + ')'  + CHAR(13)
		+ ISNULL((SELECT (
			SELECT CHAR(13) +
					'ALTER TABLE ' + @object_name + ' WITH' 
				+ CASE WHEN fk.is_not_trusted = 1 
					THEN ' NOCHECK' 
					ELSE ' CHECK' 
					END + 
					' ADD CONSTRAINT [' + fk.name  + '] FOREIGN KEY(' 
					+ STUFF((
					SELECT ', [' + k.cname + ']'
					FROM fk_columns k
					WHERE k.constraint_object_id = fk.[object_id]
					FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '')
					+ ')' +
					' REFERENCES [' + SCHEMA_NAME(ro.[schema_id]) + '].[' + ro.name + '] ('
					+ STUFF((
					SELECT ', [' + k.rcname + ']'
					FROM fk_columns k
					WHERE k.constraint_object_id = fk.[object_id]
					FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '')
					+ ')'
				+ CASE 
					WHEN fk.delete_referential_action = 1 THEN ' ON DELETE CASCADE' 
					WHEN fk.delete_referential_action = 2 THEN ' ON DELETE SET NULL'
					WHEN fk.delete_referential_action = 3 THEN ' ON DELETE SET DEFAULT' 
					ELSE '' 
					END
				+ CASE 
					WHEN fk.update_referential_action = 1 THEN ' ON UPDATE CASCADE'
					WHEN fk.update_referential_action = 2 THEN ' ON UPDATE SET NULL'
					WHEN fk.update_referential_action = 3 THEN ' ON UPDATE SET DEFAULT'  
					ELSE '' 
					END 
				+ CHAR(13) + 'ALTER TABLE ' + @object_name + ' CHECK CONSTRAINT [' + fk.name  + ']' + CHAR(13)
			FROM sys.foreign_keys fk WITH (NOWAIT)
			JOIN sys.objects ro WITH (NOWAIT) ON ro.[object_id] = fk.referenced_object_id
			WHERE fk.parent_object_id = @object_id
			FOR XML PATH(N''), TYPE).value('.', 'NVARCHAR(MAX)')), '')
		+ ISNULL((
			SELECT STRING_AGG(CAST(definition AS NVARCHAR(MAX)), CHAR(13) + CHAR(10))
			FROM indexes
			WHERE object_id = @object_id
		), '')
		
	IF (@SQL IS NOT NULL) RETURN CONVERT(XML, (SELECT @SQL FOR XML PATH('')))
	
	RETURN NULL

END
GO
