USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[udf_os_pathfilename] (@fullpath NVARCHAR(2600))
RETURNS VARCHAR(2600)
AS
BEGIN

	RETURN RIGHT(@fullpath, CHARINDEX('\', REVERSE(@fullpath)) - 1);

END

GO
