USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Function Name: [dbo].[udf_array_count]
    Purpose: Counts the number of elements in a delimited string array
    
    Project: T-SQL-Scripts
    Date Created: 2025-10-14
    Author: Ludwig Mark
    
    Parameters:
    @array - NVARCHAR(MAX) - The input array string to count elements from
    @delim - NVARCHAR(MAX) - The delimiter that separates array elements
    
    Returns: INT
    
    Notes:
    - Uses a unique character replacement technique for accurate counting
    - Handles any delimiter character including special characters
    - Preserves empty elements in the count
    - Thread-safe and deterministic
    
    Performance:
    - Execution time: Variable based on input size
    - Memory usage: O(n) where n is the length of input string
    - Complexity: O(n) for string operations
    
    Dependencies:
    - Requires SELECT permission on sys.all_columns
    - Uses STRING_SPLIT function (SQL Server 2016+)
    
    Example:
    ------------------------
    DECLARE @TestArray NVARCHAR(MAX) = 'A;B;C;D;E;F•G;H;I'
    DECLARE @TestDelim NVARCHAR(MAX) = ';'
    SELECT dbo.udf_array_count(@TestArray, @TestDelim) AS ElementCount
    
    Returns: 8
    
    Modification History:
    Date        Author      Description
    ----------  ----------  ------------------------------------------------
    2025-10-14  Ludwig M.   Initial creation
    
    Validation:
    - Returns 0 for empty strings
    - Handles NULL inputs gracefully
    - Works with any valid NVARCHAR delimiter
    - Accurately counts empty elements between delimiters
    
    LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_array_count](
    @array NVARCHAR(MAX),
    @delim NVARCHAR(MAX)
)
RETURNS INT
AS 
BEGIN
    RETURN (
        SELECT COUNT(*)
        FROM (
            -- Generate a series of characters from NCHAR(1) to NCHAR(65500)
            SELECT TOP 1 c
            FROM (
                SELECT TOP 65500 c = NCHAR(ROW_NUMBER() OVER (ORDER BY (SELECT 1)))
                FROM sys.all_columns a CROSS APPLY sys.all_columns b
            ) c
            -- Check if each character from the generated series is not present in @array
            WHERE CHARINDEX(c, @array) = 0
        ) c
        -- Replace the delimiter in @array with the character that was not found in @array
        CROSS APPLY (
            SELECT array_str_delim_string = REPLACE(@array, @delim, c)
        ) escape_delim_string
        -- Split the modified @array by the replacement character and calculate the number of elements
        CROSS APPLY (
            SELECT 
                ordinal = ROW_NUMBER() OVER (ORDER BY (SELECT 1)),
                element = value,
                length = COUNT(*) OVER (ORDER BY (SELECT 1))
            FROM STRING_SPLIT(array_str_delim_string, c) split_escaped_array
        ) split_escaped_array_string
    )
END
GO
