USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------
    Function Name: [dbo].[udf_string_urlfilename]
    Purpose: Extracts the filename component from a URL path
    
    Project: T-SQL-Scripts
    Date Created: 2025-10-14
    Author: Ludwig Mark
    
    Parameters:
    @url - VARCHAR(2600) - The URL to extract filename from
    
    Returns: NVARCHAR(MAX)
    
    Notes:
    - Handles both HTTP and HTTPS URLs
    - Removes query string before processing
    - Works with paths containing multiple slashes
    - Thread-safe and deterministic
    - Maximum URL length matches Windows MAX_PATH
    
    Performance:
    - Execution time: O(n) where n is URL length
    - Memory usage: Minimal, uses string operations
    - Efficient string splitting approach
    
    Dependencies:
    - Requires STRING_SPLIT function (SQL Server 2016+)
    
    Example:
    ------------------------
    DECLARE @URL VARCHAR(2600) = 'https://example.com/path/to/file.pdf?param=value'
    SELECT dbo.udf_string_urlfilename(@URL) AS Filename
    
    Returns: 'file.pdf'
    
    Modification History:
    Date        Author      Description
    ----------  ----------  ------------------------------------------------
    2025-10-14  Ludwig M.   Initial creation
    
    Validation:
    - Returns NULL if URL is NULL
    - Handles URLs with and without query strings
    - Works with various file extensions
    - Processes encoded URLs correctly
    - Handles paths with no filename correctly
    
    URL Components Handled:
    - Removes protocol (http://, https://)
    - Removes domain name
    - Removes query string
    - Removes path components
    - Preserves filename with extension
    
    LICENSE: MIT
------------------------------------------------------------------------------*/

CREATE   FUNCTION [dbo].[udf_string_urlfilename](
    @url VARCHAR(2600)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    
    RETURN (
        SELECT TOP 1 REVERSE(value)
        FROM STRING_SPLIT(REVERSE((
            SELECT TOP 1 value
            FROM STRING_SPLIT(@url + '?', '?')
        )) + '/', '/')
    )

END
GO
