USE [NBA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[udf_validate_said] (@idnumber VARCHAR(MAX))
RETURNS BIT
AS
  BEGIN
      IF ( LEN(@idnumber) != 13 )
        GOTO fail;

      IF ( ISNUMERIC(@idnumber) != 1 )
        GOTO fail;

      IF ( @idnumber LIKE '[,]'
            OR @idnumber LIKE '[.]' )
        GOTO fail;

      DECLARE @years TABLE
        (
           _year INT
        )

      INSERT INTO @years
      SELECT CAST(SUBSTRING(@idnumber, 1, 2) AS INT)
             + 1800

      INSERT INTO @years
      SELECT CAST(SUBSTRING(@idnumber, 1, 2) AS INT)
             + 1900

      INSERT INTO @years
      SELECT CAST(SUBSTRING(@idnumber, 1, 2) AS INT)
             + 2000

      DECLARE @month INT = SUBSTRING(@idnumber, 3, 2)
      DECLARE @day INT = SUBSTRING(@idnumber, 5, 2)

      IF ( @month NOT BETWEEN 1 AND 13 )
        GOTO fail;

      IF ( @day NOT BETWEEN 1 AND 31 )
        GOTO fail;

      DECLARE @dobs TABLE
        (
           _dob DATE
        )

      INSERT INTO @dobs
      SELECT Cast(_year AS VARCHAR(4)) + '-' + ( CASE
                                                   WHEN @month < 10 THEN '0'
                                                   ELSE ''
                                                 END ) +
             Cast(@month AS VARCHAR(2)) +
             '-' + (
                    CASE
                    WHEN @day < 10 THEN '0'
                    ELSE ''
                    END ) + Cast(@day AS VARCHAR(2))
      FROM   @years
      WHERE  Isdate(Cast(_year AS VARCHAR(4)) + '-' + ( CASE
                    WHEN @month < 10 THEN '0'
                    ELSE ''
                                                        END ) + Cast(
                    @month AS VARCHAR(2)) +
                           '-' + (
                                  CASE
                                  WHEN @day < 10 THEN '0'
                                  ELSE ''
                                  END ) + Cast(@day AS VARCHAR(2))) = 1

      IF (SELECT Count(*)
          FROM   @dobs) = 0
        GOTO fail;

      DECLARE @digits TABLE
        (
           digit INT
        )

      INSERT INTO @digits
      SELECT SUBSTRING(@idnumber, 1, 1)

      INSERT INTO @digits
      SELECT SUBSTRING(@idnumber, 3, 1)

      INSERT INTO @digits
      SELECT SUBSTRING(@idnumber, 5, 1)

      INSERT INTO @digits
      SELECT SUBSTRING(@idnumber, 7, 1)

      INSERT INTO @digits
      SELECT SUBSTRING(@idnumber, 9, 1)

      INSERT INTO @digits
      SELECT SUBSTRING(@idnumber, 11, 1)

      DECLARE @oddsum INT = (SELECT SUM(digit)
         FROM @digits)
      DECLARE @evendouble VARCHAR(10) = CAST(SUBSTRING(@idnumber, 2, 1)
             + SUBSTRING(@idnumber, 4, 1)
             + SUBSTRING(@idnumber, 6, 1)
             + SUBSTRING(@idnumber, 8, 1)
             + SUBSTRING(@idnumber, 10, 1)
             + SUBSTRING(@idnumber, 12, 1) AS INT) * 2
      DECLARE @evensum INT = 0

      WHILE ( Len(@evendouble) > 0 )
        BEGIN
            SET @evensum += CAST(SUBSTRING(@evendouble, 1, 1) AS INT)
            SET @evendouble = RIGHT(@evendouble, Len(@evendouble) - 1)
        END

      DECLARE @checksum CHAR(1) = 10 - ( ( @oddsum + @evensum ) % 10 )

      IF ( @checksum != SUBSTRING(@idnumber, 13, 1) )
        GOTO fail;

      RETURN 1;

      FAIL:

      RETURN 0;
  END

GO
